# DSC 80: Project 02

### Checkpoint Due Date: Monday, October 26 11:59:59 PM (Q1-5)

### Final Due Date: Monday, November 2 11:59:59 PM

---
# Instructions

This Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems.  
* Like the lab, your coding work will be developed in the accompanying `projectXX.py` file, that will be imported into the current notebook. This code will be autograded.

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the HW! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `projectXX.py` (much like we do in the notebook).
- Always document your code!

## Checkpoint Instructions

* The checkpoint requires you to turn in **questions 1-5**; 
* The checkpoint will be graded for *approximate* correctness: easier than the final tests; harder than the doctests.

In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import project02 as proj

In [26]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import os

# An Investigation into Flight Delays

### The flights dataset

The department of transportation has all flight delays for listed years on their [website](https://catalog.data.gov/dataset/airline-on-time-performance-and-causes-of-flight-delays-on-time-data). There are data for the years 1987 - 2018. See the description of columns in `data/columns.txt`.

This project will look at a single year (2015) to keep the analysis "simple", which is available at the URL below (*NOT* on the data.gov site).


* To download the flights dataset to your computer, use [this link](https://dsc80-fa19-data.s3-us-west-2.amazonaws.com/project02/flight-delays.zip), unzip the file, and place `flights.csv` in your project directory.

* To download the dataset on `datahub.ucsd.edu` (this works on your computer as well!):
    - Open the terminal in datahub ("new > Terminal")
    - Change the directory to where you want your data (e.g. `cd [ASSIGNMENT_PATH]/data`)
    - Download the unzipped dataset using these commands:
        1. `wget https://dsc80-fa19-data.s3-us-west-2.amazonaws.com/project02/flight-delays.zip`
        2. `unzip flight-delays.zip`
    - `flights.csv` should be in the directory.
    
**NOTE: The unzipped files must be in the `project02/data` directory in order for the doctests to work!**

### Creating your datasets

**Question 1**

The flights dataset for 2015 is not small (~600MB). While you could likely load the entire dataset into Pandas on your laptop, if you wanted to work with more than one year, this would quickly become difficult (the data is available for 1987-2018). Therefore, we will filter down the dataset into two smaller files without ever reading the larger dataset fully into memory. We are going to create two smaller datasets:

1. All flights arriving or departing from San Diego International Airport in 2015.
    - You can find a list of all the airport codes in the United States [here](https://www.leonardsguide.com/us-airport-codes.shtml).
2. All flights flown by either JetBlue or Southwest Airline in 2015.

---

To do this, you are going to use the `chunksize=N` keyword in Pandas `read_csv` to read the flights dataset in blocks of `N` lines. When you use this keyword argument, `pd.read_csv(fp, chunksize=N)` becomes a *iterator* that iterates through dataframes of length N until you have reached the end of the dataset. A typical pattern looks like:
```
L = pd.read_csv(filepath, chunksize=1000)
for df in L:
    process(df)
```
Where each `df` is a dataframe of length 1000. 

The processing you are going to do is:
1. Iterate through the dataset, chunk-by-chunk,
2. Filtering out rows of each chunk
3. Incrementally add to a filtered csv file (since the data is perhaps too big to keep in memory). Keep in mind, if you want to keep writing to the same file, the mode='a' keyword in the `.to_csv` method can be helpful when calling it in the loop (a stands for 'append')

---

Write two functions that create the datasets below, using the 'chunking' pattern described above. Your functions should use `chunksize` of 10000.
1. `get_san` which takes in a filepath containing all flights and a filepath where filtered dataset #1 is written. The function should return `None`.
1. `get_jb_sw` which takes in a filepath containing all flights and a filepath where filtered dataset #2 is written. The function should return `None`.

*Remark 1*: **Gradescope autograding servers are quite small and can't load this dataset into memory** -- so your code that reads in the large `flights.csv` dataset *must* work with chunks of the dataset one at a time to pass!

*Remark 2:* You can check your work using the datasets included in the zip file!

Remember to close your file properly!

In [27]:
#San Diego International Airport: SAN
#JetBlue or Southwest Airline
#Chunksize 10,000 
def get_san(infp, outfp):
    """
    get_san takes in a filepath containing all flights and a filepath where
    filtered dataset #1 is written (that is, all flights arriving or departing
    from San Diego International Airport in 2015).
    The function should return None.

    :Example:
    >>> infp = os.path.join('data', 'flights.test')
    >>> outfp = os.path.join('data', 'santest.tmp')
    >>> get_san(infp, outfp)
    >>> df = pd.read_csv(outfp)
    >>> df.shape
    (53, 31)
    >>> os.remove(outfp)
    """
    #all flights in SAN
    def process(df):
        #print(df.columns)
        return df[(df['ORIGIN_AIRPORT'] == 'SAN') | (df['DESTINATION_AIRPORT'] == 'SAN')]
    pd.read_csv(infp, nrows=0).to_csv(outfp, index=False)

    L = pd.read_csv(infp, chunksize=10000, dtype = str)
    #cols_added = False
    with open(outfp,'a') as out_file:
        for df in L: 
            
            temp = process(df)
            temp.to_csv(out_file, header=False, mode = 'a')
            
    return None

In [28]:
infp = os.path.join('data', 'flights.test')
outfp = os.path.join('data', 'santest.tmp')
get_san(infp, outfp)
df = pd.read_csv(outfp)
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,3,5,4,AA,48,N3CMAA,SAN,DFW,823,...,1341,26.0,False,False,NaN,26.0,0.0,0.0,0.0,0.0
1,2015,11,4,3,AA,741,N916US,PHL,SAN,1800,...,2058,7.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,7,17,5,UA,1641,N33264,SAN,EWR,615,...,1410,-28.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,12,2,3,UA,546,N17244,SAN,IAD,800,...,1528,-22.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,2,11,3,WN,4175,N714CB,OAK,SAN,1340,...,1537,32.0,False,False,NaN,3.0,0.0,3.0,26.0,0.0
5,2015,7,17,5,WN,900,N560WN,PHX,SAN,1345,...,1447,2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,2,20,5,WN,3745,N428WN,SAN,PHX,730,...,925,-20.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,7,7,2,NK,245,N637NK,LAS,SAN,1816,...,2050,87.0,False,False,NaN,12.0,0.0,3.0,72.0,0.0
8,2015,6,10,3,UA,1272,N27724,SAN,DEN,1752,...,2044,-34.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,11,9,1,UA,2011,N406UA,SAN,SFO,1606,...,1728,-17.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,9,5,6,WN,1263,N960WN,SAT,SAN,1125,...,1158,-22.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,8,21,5,B6,19,N584JB,BOS,SAN,1629,...,2000,27.0,False,False,NaN,0.0,0.0,27.0,0.0,0.0
12,2015,7,28,2,WN,2068,N647SW,SAN,LAS,1900,...,2056,46.0,False,False,NaN,0.0,0.0,6.0,40.0,0.0
13,2015,1,7,3,WN,121,N709SW,SAN,MSY,1245,...,1831,21.0,False,False,NaN,21.0,0.0,0.0,0.0,0.0
14,2015,11,8,7,WN,2855,N8610A,SAN,MDW,630,...,1226,-4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,6,17,3,WN,2618,N286WN,SAN,SAT,1210,...,1722,32.0,False,False,NaN,0.0,0.0,22.0,10.0,0.0
16,2015,5,26,2,WN,709,N641SW,PHX,SAN,1955,...,2123,23.0,False,False,NaN,0.0,0.0,0.0,23.0,0.0
17,2015,1,11,7,NK,511,N516NK,LAS,SAN,1331,...,1447,11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,3,16,1,AS,571,N419AS,SAN,PDX,1525,...,1823,26.0,False,False,NaN,0.0,0.0,0.0,26.0,0.0
19,2015,3,30,1,UA,1116,N76522,SFO,SAN,839,...,1003,-9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,11,3,2,DL,1692,N838DN,SAN,ATL,1057,...,1754,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,6,1,1,AA,1214,N3BNAA,DFW,SAN,1705,...,1759,-21.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,8,8,6,AA,277,N874AA,SAN,DFW,1055,...,1557,-3.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,5,8,5,US,648,N652AW,SAN,PHL,2225,...,740,75.0,False,False,NaN,0.0,0.0,67.0,8.0,0.0
24,2015,3,27,5,AA,93,N3HLAA,ORD,SAN,1720,...,1921,-20.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,2,27,5,WN,2265,N945WN,SAN,DEN,1015,...,1346,11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,2,13,5,WN,3232,N642WN,SAN,OAK,640,...,805,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,4,WN,1646,N649SW,SEA,SAN,735,...,1002,-18.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,11,14,6,NK,245,N534NK,LAS,SAN,1830,...,1917,-19.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,12,25,5,WN,4076,N257WN,SMF,SAN,1915,...,2024,-16.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
30,2015,11,21,6,OO,3477,N218AG,FAT,SAN,650,...,754,-4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
31,2015,3,19,4,WN,889,N444WN,SAN,OAK,1835,...,2012,7.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
32,2015,3,7,6,DL,1692,N817DN,ATL,SAN,823,...,1005,-7.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
33,2015,8,7,5,UA,354,N409UA,EWR,SAN,929,...,1226,0.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
34,2015,8,11,2,UA,73,N76523,SAN,SFO,1044,...,1235,9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
35,2015,9,14,1,WN,2623,N7811F,SAN,LAS,735,...,930,40.0,False,False,NaN,0.0,0.0,0.0,40.0,0.0
36,2015,1,14,3,WN,454,N267WN,SJC,SAN,1120,...,1234,-1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
37,2015,2,1,7,UA,1567,N73283,EWR,SAN,1700,...,1945,-29.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
38,2015,6,24,3,B6,190,N648JB,SAN,JFK,1252,...,2122,0.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
39,2015,3,23,1,NK,356,N526NK,SAN,LAS,1520,...,1626,-4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
40,2015,3,22,7,WN,151,N8326F,MDW,SAN,1925,...,2204,9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
41,2015,12,25,5,AS,572,N440AS,PDX,SAN,1200,...,1400,-15.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
42,2015,5,25,1,UA,390,N459UA,EWR,SAN,902,...,1222,22.0,False,False,NaN,0.0,0.0,22.0,0.0,0.0
43,2015,1,28,3,WN,1614,N738CB,SAN,LAS,2045,...,2203,8.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
44,2015,9,22,2,WN,1191,N776WN,SAN,SMF,1830,...,2011,11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
45,2015,9,27,7,WN,1132,N7714B,SMF,SAN,655,...,819,-1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
46,2015,8,11,2,AA,1566,N3LGAA,SAN,ORD,650,...,1246,-15.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
47,2015,6,28,7,AA,1159,N3BBAA,SAN,DFW,1555,...,2054,-6.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
48,2015,3,30,1,US,566,N162UW,SAN,PHX,1000,...,1148,37.0,False,False,NaN,0.0,0.0,37.0,0.0,0.0
49,2015,5,22,5,WN,1815,N726SW,SAN,PHX,1050,...,1204,4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
65,2015,6,30,2,WN,1889,N379SW,PHX,SAN,810,...,915,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
75,2015,6,20,6,WN,1059,N603SW,SAN,OAK,650,...,821,-4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
78,2015,2,20,5,WN,3394,N317WN,SAN,SMF,1720,...,1927,37.0,False,False,NaN,0.0,0.0,0.0,37.0,0.0

# Flight Delays to/from San Diego

The department of transportation has all flight delays for listed years on their [website](https://catalog.data.gov/dataset/airline-on-time-performance-and-causes-of-flight-delays-on-time-data). 

The zip file at the [URL](https://dsc80-fa19-data.s3-us-west-2.amazonaws.com/project02/flight-delays.zip) contains a file `to_from_san.csv` that consists of all flights either to or from SAN (San Diego) in 2015 -- i.e. the output of Question 1. This dataset should match the dataset that your code returned in question 1.

Read in `to_from_san.csv` using `read_csv` and inspect the dataframe for an initial assessment about the data quality.

In [29]:
# Run this cell
to_from_san_filepath = os.path.join('data', 'to_from_san.csv')
flights = pd.read_csv(to_from_san_filepath)

In [30]:
def get_sw_jb(infp, outfp):
    """
    get_san takes in a filepath containing all flights and a filepath where
    filtered dataset #1 is written (that is, all flights arriving or departing
    from San Diego International Airport in 2015).
    The function should return None.

    :Example:
    >>> infp = os.path.join('data', 'flights.test')
    >>> outfp = os.path.join('data', 'santest.tmp')
    >>> get_san(infp, outfp)
    >>> df = pd.read_csv(outfp)
    >>> df.shape
    (53, 31)
    >>> os.remove(outfp)
    """
    #all flights in SAN
    def process(df):
        #print(df.columns)
        return df[(df['AIRLINE'] == 'B6') | (df['AIRLINE'] == 'WN')]
    pd.read_csv(infp, nrows=0).to_csv(outfp, index=False)

    L = pd.read_csv(infp, chunksize=10000, dtype = str)
    #cols_added = False
    with open(outfp,'a') as out_file:
        for df in L: 
            
            temp = process(df)
            temp.to_csv(out_file, header=False, mode = 'a')
            
    return None

In [31]:
infp = os.path.join('data', 'flights.test')
outfp = os.path.join('data', 'jbswtest.tmp')
get_sw_jb(infp, outfp)
df = pd.read_csv(outfp)
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4,2015,2,11,3,WN,4175,N714CB,OAK,SAN,1340,...,1537,32.0,False,False,NaN,3.0,0.0,3.0,26.0,0.0
5,2015,7,17,5,WN,900,N560WN,PHX,SAN,1345,...,1447,2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,2,20,5,WN,3745,N428WN,SAN,PHX,730,...,925,-20.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,9,5,6,WN,1263,N960WN,SAT,SAN,1125,...,1158,-22.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,8,21,5,B6,19,N584JB,BOS,SAN,1629,...,2000,27.0,False,False,NaN,0.0,0.0,27.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,9,23,3,WN,2271,N8612K,MDW,BWI,1345,...,1640,5.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
96,2015,9,29,2,B6,2379,N267JB,BOS,EWR,910,...,1028,-2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
97,2015,9,14,1,WN,277,N210WN,ATL,STL,2035,...,2114,-1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
98,2015,5,24,7,WN,51,N523SW,DAL,HOU,1900,...,2030,20.0,False,False,NaN,0.0,0.0,12.0,8.0,0.0
99,2015,10,15,4,WN,464,N960WN,10599,11259,645,...,824,-11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
for col in df.columns:
    print(col)
    print(df[col].head(20))
    print(np.count_nonzero(df[col].isnull()))

YEAR
4     2015
5     2015
6     2015
10    2015
11    2015
12    2015
13    2015
14    2015
15    2015
16    2015
25    2015
26    2015
27    2015
29    2015
31    2015
35    2015
36    2015
38    2015
40    2015
43    2015
Name: YEAR, dtype: int64
0
MONTH
4      2
5      7
6      2
10     9
11     8
12     7
13     1
14    11
15     6
16     5
25     2
26     2
27     1
29    12
31     3
35     9
36     1
38     6
40     3
43     1
Name: MONTH, dtype: int64
0
DAY
4     11
5     17
6     20
10     5
11    21
12    28
13     7
14     8
15    17
16    26
25    27
26    13
27     1
29    25
31    19
35    14
36    14
38    24
40    22
43    28
Name: DAY, dtype: int64
0
DAY_OF_WEEK
4     3
5     5
6     5
10    6
11    5
12    2
13    3
14    7
15    3
16    2
25    5
26    5
27    4
29    5
31    4
35    1
36    3
38    3
40    7
43    3
Name: DAY_OF_WEEK, dtype: int64
0
AIRLINE
4     WN
5     WN
6     WN
10    WN
11    B6
12    WN
13    WN
14    WN
15    WN
16    WN
25    WN
26    WN
27    WN
29    WN
31    WN
35    WN
36    WN
38    B6
40    WN
43    WN
Name: AIRLINE, dtype: object
0
FLIGHT_NUMBER
4     4175
5      900
6     3745
10    1263
11      19
12    2068
13     121
14    2855
15    2618
16     709
25    2265
26    3232
27    1646
29    4076
31     889
35    2623
36     454
38     190
40     151
43    1614
Name: FLIGHT_NUMBER, dtype: int64
0
TAIL_NUMBER
4     N714CB
5     N560WN
6     N428WN
10    N960WN
11    N584JB
12    N647SW
13    N709SW
14    N8610A
15    N286WN
16    N641SW
25    N945WN
26    N642WN
27    N649SW
29    N257WN
31    N444WN
35    N7811F
36    N267WN
38    N648JB
40    N8326F
43    N738CB
Name: TAIL_NUMBER, dtype: object
0
ORIGIN_AIRPORT
4     OAK
5     PHX
6     SAN
10    SAT
11    BOS
12    SAN
13    SAN
14    SAN
15    SAN
16    PHX
25    SAN
26    SAN
27    SEA
29    SMF
31    SAN
35    SAN
36    SJC
38    SAN
40    MDW
43    SAN
Name: ORIGIN_AIRPORT, dtype: object
0
DESTINATION_AIRPORT
4     SAN
5     SAN
6     PHX
10    SAN
11    SAN
12    LAS
13    MSY
14    MDW
15    SAT
16    SAN
25    DEN
26    OAK
27    SAN
29    SAN
31    OAK
35    LAS
36    SAN
38    JFK
40    SAN
43    LAS
Name: DESTINATION_AIRPORT, dtype: object
0
SCHEDULED_DEPARTURE
4     1340
5     1345
6      730
10    1125
11    1629
12    1900
13    1245
14     630
15    1210
16    1955
25    1015
26     640
27     735
29    1915
31    1835
35     735
36    1120
38    1252
40    1925
43    2045
Name: SCHEDULED_DEPARTURE, dtype: int64
0
DEPARTURE_TIME
4     1409
5     1347
6      726
10    1121
11    1705
12    1949
13    1242
14     628
15    1250
16    2020
25    1041
26     634
27     734
29    1911
31    1846
35     829
36    1120
38    1308
40    1942
43    2101
Name: DEPARTURE_TIME, dtype: int64
0
DEPARTURE_DELAY
4     29.0
5      2.0
6     -4.0
10    -4.0
11    36.0
12    49.0
13    -3.0
14    -2.0
15    40.0
16    25.0
25    26.0
26    -6.0
27    -1.0
29    -4.0
31    11.0
35    54.0
36     0.0
38    16.0
40    17.0
43    16.0
Name: DEPARTURE_DELAY, dtype: float64
0
TAXI_OUT
4     10.0
5      9.0
6      7.0
10     6.0
11    20.0
12    13.0
13    25.0
14    13.0
15     9.0
16    11.0
25     9.0
26    20.0
27    10.0
29     8.0
31    11.0
35     7.0
36     7.0
38    20.0
40    18.0
43    14.0
Name: TAXI_OUT, dtype: float64
0
WHEELS_OFF
4     1419
5     1356
6      733
10    1127
11    1725
12    2002
13    1307
14     641
15    1259
16    2031
25    1050
26     654
27     744
29    1919
31    1857
35     836
36    1127
38    1328
40    2000
43    2115
Name: WHEELS_OFF, dtype: int64
0
SCHEDULED_TIME
4      85
5      60
6      75
10    175
11    364
12     70
13    205
14    240
15    160
16     65
25    140
26     95
27    165
29     85
31     90
35     75
36     75
38    330
40    270
43     70
Name: SCHEDULED_TIME, dtype: int64
0
ELAPSED_TIME
4      88.0
5      60.0
6      59.0
10    157.0
11    355.0
12     67.0
13    229.0
14    238.0
15    152.0
16     63.0
25    125.0
26     91.0
27    148.0
29     73.0
31     86.0
35     61.0
36     74.0
38    314.0
40    262.0
43     62.0
Name: ELAPSED_TIME, dtype: float64
0
AIR_TIME
4      71.0
5      48.0
6      46.0
10    147.0
11    332.0
12     50.0
13    199.0
14    215.0
15    139.0
16     48.0
25    109.0
26     66.0
27    135.0
29     61.0
31     70.0
35     49.0
36     65.0
38    287.0
40    241.0
43     44.0
Name: AIR_TIME, dtype: float64
0
DISTANCE
4      446
5      304
6      304
10    1129
11    2588
12     258
13    1599
14    1728
15    1129
16     304
25     853
26     446
27    1050
29     480
31     446
35     258
36     417
38    2446
40    1728
43     258
Name: DISTANCE, dtype: int64
0
WHEELS_ON
4     1530
5     1444
6      919
10    1154
11    1957
12    2052
13    1826
14    1216
15    1718
16    2119
25    1339
26     800
27     959
29    2020
31    2007
35     925
36    1232
38    2115
40    2201
43    2159
Name: WHEELS_ON, dtype: int64
0
TAXI_IN
4      7.0
5      3.0
6      6.0
10     4.0
11     3.0
12     4.0
13     5.0
14    10.0
15     4.0
16     4.0
25     7.0
26     5.0
27     3.0
29     4.0
31     5.0
35     5.0
36     2.0
38     7.0
40     3.0
43     4.0
Name: TAXI_IN, dtype: float64
0
SCHEDULED_ARRIVAL
4     1505
5     1445
6      945
10    1220
11    1933
12    2010
13    1810
14    1230
15    1650
16    2100
25    1335
26     815
27    1020
29    2040
31    2005
35     850
36    1235
38    2122
40    2155
43    2155
Name: SCHEDULED_ARRIVAL, dtype: int64
0
ARRIVAL_TIME
4     1537
5     1447
6      925
10    1158
11    2000
12    2056
13    1831
14    1226
15    1722
16    2123
25    1346
26     805
27    1002
29    2024
31    2012
35     930
36    1234
38    2122
40    2204
43    2203
Name: ARRIVAL_TIME, dtype: int64
0
ARRIVAL_DELAY
4     32.0
5      2.0
6    -20.0
10   -22.0
11    27.0
12    46.0
13    21.0
14    -4.0
15    32.0
16    23.0
25    11.0
26   -10.0
27   -18.0
29   -16.0
31     7.0
35    40.0
36    -1.0
38     0.0
40     9.0
43     8.0
Name: ARRIVAL_DELAY, dtype: float64
0
DIVERTED
4     False
5     False
6     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
25    False
26    False
27    False
29    False
31    False
35    False
36    False
38    False
40    False
43    False
Name: DIVERTED, dtype: bool
0
CANCELLED
4     False
5     False
6     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
25    False
26    False
27    False
29    False
31    False
35    False
36    False
38    False
40    False
43    False
Name: CANCELLED, dtype: bool
0
CANCELLATION_REASON
4    NaN
5    NaN
6    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
25   NaN
26   NaN
27   NaN
29   NaN
31   NaN
35   NaN
36   NaN
38   NaN
40   NaN
43   NaN
Name: CANCELLATION_REASON, dtype: float64
73
AIR_SYSTEM_DELAY
4      3.0
5      NaN
6      NaN
10     NaN
11     0.0
12     0.0
13    21.0
14     NaN
15     0.0
16     0.0
25     NaN
26     NaN
27     NaN
29     NaN
31     NaN
35     0.0
36     NaN
38     NaN
40     NaN
43     NaN
Name: AIR_SYSTEM_DELAY, dtype: float64
56
SECURITY_DELAY
4     0.0
5     NaN
6     NaN
10    NaN
11    0.0
12    0.0
13    0.0
14    NaN
15    0.0
16    0.0
25    NaN
26    NaN
27    NaN
29    NaN
31    NaN
35    0.0
36    NaN
38    NaN
40    NaN
43    NaN
Name: SECURITY_DELAY, dtype: float64
56
AIRLINE_DELAY
4      3.0
5      NaN
6      NaN
10     NaN
11    27.0
12     6.0
13     0.0
14     NaN
15    22.0
16     0.0
25     NaN
26     NaN
27     NaN
29     NaN
31     NaN
35     0.0
36     NaN
38     NaN
40     NaN
43     NaN
Name: AIRLINE_DELAY, dtype: float64
56
LATE_AIRCRAFT_DELAY
4     26.0
5      NaN
6      NaN
10     NaN
11     0.0
12    40.0
13     0.0
14     NaN
15    10.0
16    23.0
25     NaN
26     NaN
27     NaN
29     NaN
31     NaN
35    40.0
36     NaN
38     NaN
40     NaN
43     NaN
Name: LATE_AIRCRAFT_DELAY, dtype: float64
56
WEATHER_DELAY
4     0.0
5     NaN
6     NaN
10    NaN
11    0.0
12    0.0
13    0.0
14    NaN
15    0.0
16    0.0
25    NaN
26    NaN
27    NaN
29    NaN
31    NaN
35    0.0
36    NaN
38    NaN
40    NaN
43    NaN
Name: WEATHER_DELAY, dtype: float64
56

### Understanding the data types of the columns

**Question 2**:

* First, classify the *kind* of data each column in `flights` contains. Create a function `data_kinds` of zero variables which outputs a (hard-coded) dictionary of data kinds, keyed by column name, with values `Q`, `O`, `N` (for 'Quantitative', 'Ordinal', or 'Nominal').

* Second, decide the best data *type* for each column. Create a function `data_types` of zero variables which outputs a (hard-coded) dictionary of data types, keyed by column name, with values `str`, `int`, `float`, `bool`. 

*Remark 1*: A column which *should* be `int`s, but contains `NaN`, *must* be a float column. See Lecture 2 notes an explanation of `NaN` and data-types.

*Remark 2*: As with real data, some data processing decisions may be ambiguous here. Make the best decision using the information available to you. It may be helpful to (re)read the relevant [section of the textbook](https://afraenkel.github.io/practical-data-science/03/kinds-of-data.html). 
* Certain answers *may* have more than one correct answer (in these cases, more than one choice gets full credit),
* All answers will be graded for partial credit (some wrong answers are more wrong than other).
There are many columns, so don't worry about the correctness of any given one; do make sure you are thinking about what's contained in a column critically!

In [33]:
def data_kinds():
    """
    data_kinds outputs a (hard-coded) dictionary of data kinds, keyed by column
    name, with values Q, O, N (for 'Quantitative', 'Ordinal', or 'Nominal').

    :Example:
    >>> out = data_kinds()
    >>> isinstance(out, dict)
    True
    >>> set(out.values()) == {'O', 'N', 'Q'}
    True
    """

    data_kinds= {'YEAR': 'Q', 'MONTH':'O',"DAY":'O',"DAY_OF_WEEK":'O', "AIRLINE":'N',
                 "FLIGHT_NUMER":'N', "TAIL_NUMBER":'N', "ORIGIN_AIRPORT":'N',
                 "DESTINATION_AIRPORT": 'N', "SCHEDULED_DEPARTURE":"O", "DEPARTURE_TIME":"O",
                "DEPARTURE_DELAY": "O", "TAXI_OUT":"Q", "WHEELS_OFF":"O",
                "SCHEDULED_TIME":"O", "ELAPSED_TIME": "Q", "AIR_TIME": "Q", "DISTANCE":'Q',
                "WHEELS_ON":"O", "TAXI_IN":'Q', "SCHEDULED_ARRIVAL":"O","ARRIVAL_TIME":"O",
                "ARRIVAL_DELAY":"Q", "DIVERTED":"N","CANCELLED":"N", "CANCELLATION_REASON":"N",
                "AIR_SYSTEM_DELAY":"Q", "SECURITY_DELAY":"Q", "AIRLINE_DELAY":"Q",
                "LATE_AIRCRAFT_DELAY":"Q", "WEATHER_DELAY":"Q"}
    
    return data_kinds

def data_types():
    """
    data_types outputs a (hard-coded) dictionary of data types, keyed by column
    name, with values str, int, float.

    :Example:
    >>> out = data_types()
    >>> isinstance(out, dict)
    True
    >>> set(out.values()) == {'int', 'str', 'float', 'bool'}
    True
    """

    data_types = {'YEAR': 'int', 'MONTH':'int',"DAY":'int',"DAY_OF_WEEK":'int', "AIRLINE":'str',
                 "FLIGHT_NUMER":'int', "TAIL_NUMBER":'str', "ORIGIN_AIRPORT":'str',
                 "DESTINATION_AIRPORT": 'str', "SCHEDULED_DEPARTURE":'str', "DEPARTURE_TIME":'str',
                "DEPARTURE_DELAY": 'float', "TAXI_OUT":'float', "WHEELS_OFF":'str',
                "SCHEDULED_TIME":'int', "ELAPSED_TIME": 'float', "AIR_TIME": 'float', "DISTANCE":'int',
                "WHEELS_ON":'str', "TAXI_IN":'float', "SCHEDULED_ARRIVAL":'str',"ARRIVAL_TIME":'str',
                "ARRIVAL_DELAY":'float', "DIVERTED":'bool',"CANCELLED":'bool', "CANCELLATION_REASON":'str',
                "AIR_SYSTEM_DELAY":'float', "SECURITY_DELAY":'float', "AIRLINE_DELAY":'float',
                "LATE_AIRCRAFT_DELAY":'float', "WEATHER_DELAY":'float'}
    return data_types

In [34]:
data_types().values()

dict_values(['int', 'int', 'int', 'int', 'str', 'int', 'str', 'str', 'str', 'str', 'str', 'float', 'float', 'str', 'int', 'float', 'float', 'int', 'str', 'float', 'str', 'str', 'float', 'bool', 'bool', 'str', 'float', 'float', 'float', 'float', 'float'])

### Read in the typed flights data

Read in the flights data using your dictionary of data-types in `read_csv`. This both speeds up parsing, as well as gives you the correct data-types upon reading (which columns would pandas *parse incorrectly* if you didn't use a `dtype` dictionary?)

In [35]:
# Run this cell
dtypes = data_types()
flights = pd.read_csv(to_from_san_filepath, dtype=dtypes)

**Question 3 (Basic Stats):**

Define a function `basic_stats` that takes a dataframe `flights` and outputs a dataframe that contains statistics for flights arriving/departing for SAN. That is, the output should have two rows, indexed by `ARRIVING` and `DEPARTING`, and have the following columns:

1. The number of arriving/departing flights to/from SAN (`count`).
    - If a flight scheduled to arrive at SAN never arrives, it still counts as an arriving flight.
2. The mean flight (arrival) delay of arriving/departing flights to/from SAN (`mean_delay`).
3. The median flight (arrival) delay of arriving/departing flights to/from SAN (`median_delay`).
4. The airline code of the airline with the single longest flight (arrival) delay among all flights arriving/departing to/from SAN (`airline`).
5. A list of the three months with the greatest number of arriving/departing flights to/from SAN, sorted from greatest to least (`top_months`).

*Remark:* Null values should not be considered when computing statistics; however, think about whether e.g. the average flight delay is likely higher or lower that the "true mean" by making this choice.

*Hint*: Use `groupbby` and the fact that `aggregate` can take in a dictionary as an argument.

In [36]:
def basic_stats(flights):
    """
    basic_stats takes flights and outputs a dataframe that contains statistics
    for flights arriving/departing for SAN.
    That is, the output should have have two rows, indexed by ARRIVING and
    DEPARTING, and have the following columns:

    * number of arriving/departing flights to/from SAN (count).
    * mean flight (arrival) delay of arriving/departing flights to/from SAN
      (mean_delay).
    * median flight (arrival) delay of arriving/departing flights to/from SAN
      (median_delay).
    * the airline code of the airline with the longest flight (arrival) delay
      among all flights arriving/departing to/from SAN (airline).
    * a list of the three months with the greatest number of arriving/departing
      flights to/from SAN, sorted from greatest to least (top_months).

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> dtypes = data_types()
    >>> flights = pd.read_csv(fp, dtype=dtypes)
    >>> out = basic_stats(flights)
    >>> out.index.tolist() == ['ARRIVING', 'DEPARTING']
    True
    >>> cols = ['count', 'mean_delay', 'median_delay', 'airline', 'top_months']
    >>> out.columns.tolist() == cols
    True
    """
    out_df = pd.DataFrame(index = ['ARRIVING','DEPARTING'])
    arr_flights = flights[flights['DESTINATION_AIRPORT'] == 'SAN']
    dep_flights = flights[flights['ORIGIN_AIRPORT'] == 'SAN']
    count_arr = arr_flights.shape[0]
    count_dep = dep_flights.shape[0]
    mean_delay_arr = arr_flights['ARRIVAL_DELAY'].mean()
    mean_delay_dep = dep_flights['ARRIVAL_DELAY'].mean()
    med_delay_arr = arr_flights['ARRIVAL_DELAY'].median()
    med_delay_dep = dep_flights['ARRIVAL_DELAY'].median()
    long_arr = arr_flights[arr_flights['ARRIVAL_DELAY'].max() == arr_flights['ARRIVAL_DELAY']]['AIRLINE'].values[0]
    long_dep = dep_flights[dep_flights['ARRIVAL_DELAY'].max() == dep_flights['ARRIVAL_DELAY']]['AIRLINE'].values[0]
    months_arr = arr_flights.groupby('MONTH').size().sort_values(ascending = False)[:3].index.values
    months_dep = dep_flights.groupby('MONTH').size().sort_values(ascending = False)[:3].index.values
    out_df['count'] = np.array([count_arr, count_dep])
    
    final_df = pd.DataFrame({'count':[count_arr, count_dep],'mean_delay':[mean_delay_arr,mean_delay_dep]
                             , 'median_delay':[med_delay_arr,med_delay_dep]
                             ,'airline':[long_arr,long_dep]
                             ,'top_months':[months_arr,months_dep]}, index = ['ARRIVING', 'DEPARTING'])
    
    
    return final_df

In [37]:
fp = os.path.join('data', 'to_from_san.csv')
dtypes = data_types()
flights = pd.read_csv(fp, dtype=dtypes)
out = basic_stats(flights)
out

           count  mean_delay  median_delay airline top_months
ARRIVING   70207    3.676826          -4.0      AA  [7, 8, 6]
DEPARTING  70207    3.328988          -5.0      AA  [7, 8, 6]

### Understanding flight delays: Departures, Arrivals, and everything in-between

**Question 4**

Often `DEPARTURE_DELAY` is thought to be the main cause of a flight delay -- i.e., when the flight is late pushing off from the gate. 

However, there are other ways that flights can be late: waiting on the tarmac, headwinds, turbulence, circling a busy airport, and waiting for a gate after landing. First, we will analyze all the ways in which a flight can be delayed.

* First, create a function `depart_arrive_stats` that takes in a dataframe like `flights` and calculates the following quantities in a series, indexed by `late1`, `late2`, `late3`:
    - `late1`: the proportion of flights from/to SAN that leave late, but arrive early or on-time.
    - `late2`: the proportion of flights from/to SAN that leave early, or on-time, but arrive late.
    - `late3`: the proportion of flights from/to SAN that both left late and arrived late.
    
* Second, create a function `depart_arrive_stats_by_month` that takes in a dataframe like `flights` and calculates the quantities above broken down by *month*. That is, the output is a dataframe, indexed by `MONTH`, with columns given by `late1`, `late2`, `late3`.

*Remark 1:* Does this question reveal any data quality issues? Can you pinpoint when these issues occur?

*Remark 2:* A flight is considered late if it departed/arrived any time later than its planned departure/arrival time.

*Remark 3:* You do not need to manually calculate the delay time for those delays that are `NaN`.

In [38]:
def depart_arrive_stats(flights):
    """
    depart_arrive_stats takes in a dataframe like flights and calculates the
    following quantities in a series (with the index in parentheses):
    - The proportion of flights from/to SAN that
      leave late, but arrive early or on-time (late1).
    - The proportion of flights from/to SAN that
      leaves early, or on-time, but arrives late (late2).
    - The proportion of flights from/to SAN that
      both left late and arrived late (late3).

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> dtypes = data_types()
    >>> flights = pd.read_csv(fp, dtype=dtypes)
    >>> out = depart_arrive_stats(flights)
    >>> out.index.tolist() == ['late1', 'late2', 'late3']
    True
    >>> isinstance(out, pd.Series)
    True
    >>> out.max() < 0.30
    True
    """
    ttl_flights = flights.shape[0]
    late1 = flights[flights['DEPARTURE_DELAY'] > 0][flights['ARRIVAL_DELAY'] <= 0].shape[0] / ttl_flights
    late2 = flights[flights['DEPARTURE_DELAY'] <= 0][flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
    late3 = flights[flights['DEPARTURE_DELAY'] > 0][flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
    data = np.array([late1,late2,late3])
    return pd.Series(data,index = ['late1','late2','late3'])


def depart_arrive_stats_by_month(flights):
    """
    depart_arrive_stats_by_month takes in a dataframe like flights and
    calculates the quantities in depart_arrive_stats, broken down by month

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> dtypes = data_types()
    >>> flights = pd.read_csv(fp, dtype=dtypes)
    >>> out = depart_arrive_stats_by_month(flights)
    >>> out.columns.tolist() == ['late1', 'late2', 'late3']
    True
    >>> set(out.index) <= set(range(1, 13))
    True
    """
    months = flights.groupby('MONTH').count().index.values
    all_data = {}
    for month in months:
        month_flights = flights[flights['MONTH']==month]
        ttl_flights = month_flights.shape[0]
        late1 = month_flights[month_flights['DEPARTURE_DELAY'] > 0][month_flights['ARRIVAL_DELAY'] <= 0].shape[0] / ttl_flights
        late2 = month_flights[month_flights['DEPARTURE_DELAY'] <= 0][month_flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
        late3 = month_flights[month_flights['DEPARTURE_DELAY'] > 0][month_flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
        data = [late1,late2,late3]
        all_data[month] = data
    return pd.DataFrame.from_dict(all_data,orient = 'index', columns = ['late1','late2','late3'])

In [39]:
fp = os.path.join('data', 'to_from_san.csv')
dtypes = data_types()
flights = pd.read_csv(fp, dtype=dtypes)
out = depart_arrive_stats_by_month(flights)
out

<ipython-input-38-a6251334265c>:52: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late1 = month_flights[month_flights['DEPARTURE_DELAY'] > 0][month_flights['ARRIVAL_DELAY'] <= 0].shape[0] / ttl_flights
<ipython-input-38-a6251334265c>:53: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late2 = month_flights[month_flights['DEPARTURE_DELAY'] <= 0][month_flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
<ipython-input-38-a6251334265c>:54: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late3 = month_flights[month_flights['DEPARTURE_DELAY'] > 0][month_flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights

       late1     late2     late3
1   0.119063  0.095645  0.270501
2   0.118087  0.096915  0.289925
3   0.130521  0.089240  0.258309
4   0.116475  0.095064  0.264326
5   0.114136  0.083498  0.285151
6   0.121138  0.088248  0.330968
7   0.115371  0.095455  0.335799
8   0.123828  0.086890  0.272450
9   0.110409  0.087890  0.185905
11  0.126393  0.081468  0.243735
12  0.122793  0.082745  0.318700

In [40]:
fp = os.path.join('data', 'to_from_san.csv')
dtypes = data_types()
flights = pd.read_csv(fp, dtype=dtypes)
out = depart_arrive_stats(flights)
out

<ipython-input-38-a6251334265c>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late1 = flights[flights['DEPARTURE_DELAY'] > 0][flights['ARRIVAL_DELAY'] <= 0].shape[0] / ttl_flights
<ipython-input-38-a6251334265c>:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late2 = flights[flights['DEPARTURE_DELAY'] <= 0][flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights
<ipython-input-38-a6251334265c>:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  late3 = flights[flights['DEPARTURE_DELAY'] > 0][flights['ARRIVAL_DELAY'] > 0].shape[0] / ttl_flights

late1    0.119853
late2    0.089329
late3    0.278804
dtype: float64

### Flight delays and day of the week

**Question 5**

Next, we'd like to understand the flight traffic to/from SAN by day of the week. Day of the week is specified by integers 1 through 7; verify for yourself which integer corresponds to which day (hint: you have the *date* for each flight as well!).

Next create two functions to understand both the amount of traffic and the average flight delay of flights for each airline by day-of-the week. We both want to understand *presence* each airline has as well as their *performance*.

1. Create a function `cnts_by_airline_dow` that takes in a dataframe like `flights` and outputs a dataframe that answers the following question: Given any `AIRLINE` and `DAY_OF_WEEK`, how many flights were there (in 2015)?


2. Create a function `mean_by_airline_dow` that takes in a dataframe like `flights` and outputs a dataframe that answers the following question: Given any `AIRLINE` and `DAY_OF_WEEK`, what is the average `ARRIVAL_DELAY` (in 2015)?

Both dataframes should have a column for each distinct value of `AIRLINE` and a row for each `DAY_OF_WEEK`.

*Hint:* Both `groupby` and `pivot` should be useful here!

Your output should have the *form* of the table below (not the entries themselves!)

<img src="pivot.png" />

In [41]:
def cnts_by_airline_dow(flights):
    """
    mean_by_airline_dow takes in a dataframe like flights and outputs a
    dataframe that answers the question:
    Given any AIRLINE and DAY_OF_WEEK, how many flights were there (in 2015)?

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> flights = pd.read_csv(fp, nrows=100)
    >>> out = cnts_by_airline_dow(flights)
    >>> set(out.columns) == set(flights['AIRLINE'].unique())
    True
    >>> set(out.index) == set(flights['DAY_OF_WEEK'].unique())
    True
    >>> (out >= 0).all().all()
    True
    """
    flights_2015 = flights[flights['YEAR'] == 2015]
    out = flights_2015.pivot_table(values = 'FLIGHT_NUMBER', index = 'DAY_OF_WEEK', columns = 'AIRLINE', aggfunc = 'count')
    return out


def mean_by_airline_dow(flights):
    """
    mean_by_airline_dow takes in a dataframe like flights and outputs a
    dataframe that answers the question:
    Given any AIRLINE and DAY_OF_WEEK, what is the average ARRIVAL_DELAY (in
    2015)?

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> flights = pd.read_csv(fp, nrows=100)
    >>> out = mean_by_airline_dow(flights)
    >>> set(out.columns) == set(flights['AIRLINE'].unique())
    True
    >>> set(out.index) == set(flights['DAY_OF_WEEK'].unique())
    True
    """
    flights_2015 = flights[flights['YEAR'] == 2015]
    out = flights_2015.pivot_table(values = 'ARRIVAL_DELAY', index = 'DAY_OF_WEEK', columns = 'AIRLINE', aggfunc = 'mean')
    return out

In [42]:
fp = os.path.join('data', 'to_from_san.csv')
flights = pd.read_csv(fp)
out = mean_by_airline_dow(flights)
out

AIRLINE,AA,AS,B6,DL,F9,HA,NK,OO,UA,US,VX,WN
DAY_OF_WEEK,,,,,,,,,,,,
1,2.245981,-2.652286,0.928571,-3.096904,3.233945,5.842105,9.222656,7.405257,3.081280,1.764344,12.804878,6.355997
2,0.791037,-4.535474,4.507123,-2.988408,4.975728,7.385417,10.669903,5.109574,5.617431,1.354626,4.645522,5.394194
3,1.811808,-4.030899,2.735043,-2.437098,5.634361,16.833333,6.304264,5.566741,3.686344,-2.145299,0.631970,3.556762
4,4.076552,-2.180995,3.152406,-2.339721,4.531818,7.552083,7.931298,7.971901,4.957124,1.198397,8.277040,6.582300
5,1.235679,-1.040887,3.329759,-5.699528,4.830918,8.021505,7.242718,5.920156,1.756997,3.017928,9.325536,7.961504
6,-0.427912,-3.283673,-1.854478,-3.608726,0.119171,7.159574,6.943026,3.746961,-1.338924,-2.227926,0.101370,1.684625
7,1.611924,-2.318213,2.422043,-4.857392,6.112150,5.229167,8.754753,8.570806,-0.190121,2.257545,12.594533,6.867543

### Understanding null values in the flights data

**Question 6 (Missing by Design)**

Now we would like to understand how data is missing in the flights data. First, compute the proportion of each column of `flights` which are non-null. Do not turn this in, but it will be useful information in doing the next few problems.

Recall that a column is *missing by design* if you can determine when the entry of a column is missing based solely on other data in the same row. That is
* there is *no randomness* in determining when an entry is missing.
* you can describe when the column is missing a value with a logical (not random) condition.
* you can express which rows will have missing values in terms of logical statements about the *other* columns in the same row.

For this question, verify the following columns are *missing by design*:
* The column `ARRIVAL_DELAY` is *missing by design*. Create a function `predict_null_arrival_delay` that doesn't depend on the values of `ARRIVAL_DELAY`, that:
    - Takes in a row of the flights data (that is, a Series)
    - Returns `True` if and only if the `ARRIVAL_DELAY` is null; otherwise it returns `False`.
    - Since the function doesn't depend on `ARRIVAL_DELAY`, it should work on a row even if the `ARRIVAL_DELAY` index is dropped.
    - You can check your function by using `flights.drop('ARRIVAL_DELAY', axis=1).apply(predict_null, axis=1)` and compare it to the `ARRIVAL_DELAY` column!


* The column `AIRLINE_DELAY` is *missing by design*. As above, create a function `predict_null_airline_delay` that doesn't depend on the values of `AIRLINE_DELAY`, that:
    - Takes in a row of the flights data (that is, a Series)
    - Returns `True` if and only if the `AIRLINE_DELAY` is null; otherwise it returns `False`.

In [43]:
def predict_null_arrival_delay(row):
    """
    predict_null takes in a row of the flights data (that is, a Series) and
    returns True if the ARRIVAL_DELAY is null and otherwise False.

    :param row: a Series that represents a row of `flights`
    :returns: a boolean representing when `ARRIVAL_DELAY` is null.

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> flights = pd.read_csv(fp, nrows=100)
    >>> out = flights.drop('ARRIVAL_DELAY', axis=1).apply(predict_null_arrival_delay, axis=1)
    >>> set(out.unique()) - set([True, False]) == set()
    True
    """
    if (row['CANCELLED']== True) | (row['DIVERTED']==True):
        return True
    else:
        return False


def predict_null_airline_delay(row):
    """
    predict_null takes in a row of the flights data (that is, a Series) and
    returns True if the AIRLINE_DELAY is null and otherwise False. Since the
    function doesn't depend on AIRLINE_DELAY, it should work a row even if that
    index is dropped.

    :param row: a Series that represents a row of `flights`
    :returns: a boolean representing when `AIRLINE_DELAY` is null.

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> flights = pd.read_csv(fp, nrows=100)
    >>> out = flights.drop('AIRLINE_DELAY', axis=1).apply(predict_null_airline_delay, axis=1)
    >>> set(out.unique()) - set([True, False]) == set()
    True
    """

    return ((row['CANCELLED'] == True) | (row['DIVERTED'] == True)|(row['ARRIVAL_DELAY'] < 15))

In [44]:
fp = os.path.join('data', 'to_from_san.csv')
flights = pd.read_csv(fp, nrows=100)
out = flights.drop('AIRLINE_DELAY', axis=1).apply(predict_null_airline_delay, axis=1)
out

0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97     True
98     True
99    False
Length: 100, dtype: bool

**Question 7 (Missingness Types)**

Now we'd like to determine missingness of the column `DEPARTURE_DELAY`. In particular, we'd like to perform a permutation test to determine the missingness of `DEPARTURE_DELAY` dependent on the column `AIRLINE`.

* Create a function `perm4missing`:
    - that takes in `flights`, a column `col`, and a number `N` and 
    - returns the p-value of the test (using `N` simulations) that determines if `DEPARTURE_DELAY` is MAR dependent on `col`. That is `perm4missing(flights, 'AIRLINE', N)` should return the p-value for the test above.
    - *Remark*: to help your work, create helper functions whose output you can plot, to assess the correctness of your p-value!
    
* Use your function above to determine the columns `col` for which "`DEPARTURE_DELAY` is MAR dependent on `col`" using a significance level of 0.01. Only consider the categorical columns `YEAR`,`DAY_OF_WEEK`, `AIRLINE`,`DIVERTED`, `CANCELLATION_REASON`. Return your answer in a (hard-coded) list returned by a function called `dependent_cols`.

* Create a function `missing_types` of zero variables, which:
    - Returns a Series, indexed by the following columns of `flights`: `CANCELLED`, `CANCELLATION_REASON`, `TAIL_NUMBER`, `ARRIVAL_TIME`.
    - The values should contain the most-likely missingness type of each column. 
    - The values of this Series should be `MD, MCAR, MAR, MNAR, NaN` (use `NaN` if there are no missing values). 


*Hint:* for missingness permutation tests, try using TVD as a test statistic! You are taking the TVD between the distributions of `True` and `False` for those non-numerical columns; `True` being the proportions of null values, `False` being the proportions of non-null values. Check the lecture slides for more information.

In [45]:
import matplotlib.pyplot as plt
def perm4missing(flights, col, N):
    """
    perm4missing takes in flights, a column col, and a number N and returns the
    p-value of the test (using N simulations) that determines if
    DEPARTURE_DELAY is MAR dependent on col.

    :Example:
    >>> fp = os.path.join('data', 'to_from_san.csv')
    >>> flights = pd.read_csv(fp, nrows=100)
    >>> out = perm4missing(flights, 'AIRLINE', 100)
    >>> 0 <= out <= 1
    True
    """

    dist = flights.assign(is_null = flights.DEPARTURE_DELAY.isnull()).pivot_table(index = 'is_null', columns = col, aggfunc='size').apply(lambda x:x/x.sum(), axis=1)
    #dist.T.plot(kind='bar') 
    
    tvds = [] #tvds array
    for _ in range(N):
        #shuffle the col column
        shuffled_col = flights[col].sample(replace=False, frac=1).reset_index(drop=True)
        #put into a table
        shuffled = flights.assign(**{col: shuffled_col, 'is_null':flights['DEPARTURE_DELAY'].isnull()})
        #compute TVD
        shuffled = shuffled.pivot_table(index='is_null', columns = col, aggfunc='size').apply(lambda x:x/x.sum(), axis=1)
        tvd=shuffled.diff().iloc[-1].abs().sum()/2
        tvds.append(tvd)
    obs = dist.diff().iloc[-1].abs().sum()/2
    pval = np.mean(tvds >= obs)
    #plot = pd.Series(tvds).plot(kind='hist', density=True, alpha=.8, title = 'p-val')
    #plot2 = plt.scatter(obs, 0, color='red', s=40)
    return pval

def dependent_cols():
    """
    dependent_cols gives a list of columns on which DEPARTURE_DELAY is MAR
    dependent on.

    :Example:
    >>> out = dependent_cols()
    >>> isinstance(out, list)
    True
    >>> cols = 'YEAR DAY_OF_WEEK AIRLINE DIVERTED CANCELLATION_REASON'.split()
    >>> set(out) <= set(cols)
    True
    """

    return ['AIRLINE','DAY_OF_WEEK']


def missing_types():
    """
    missing_types returns a Series
    - indexed by the following columns of flights:
    CANCELLED, CANCELLATION_REASON, TAIL_NUMBER, ARRIVAL_TIME.
    - The values contain the most-likely missingness type of each column.
    - The unique values of this Series should be MD, MCAR, MAR, MNAR, NaN.

    :param:
    :returns: A series with index and values as described above.

    :Example:
    >>> out = missing_types()
    >>> isinstance(out, pd.Series)
    True
    >>> set(out.unique()) - set(['MD', 'MCAR', 'MAR', 'NMAR', np.NaN]) == set()
    True
    """

    data = ['MAR', 'MAR', 'MCAR', 'MAR']
    return pd.Series(data, index = ['CANCELLED', 'CANCELLATION_REASON', 'TAIL_NUMBER', 'ARRIVAL_TIME'])

# Simpson's Paradox: JetBlue vs Southwest

The remainder of the questions investigates the presence of Simpson's paradox in the flights dataset. Read through the final slides of lecture 05, as well as [the book](https://afraenkel.github.io/practical-data-science/05/understanding-aggregations.html#simpsons-paradox) for a summary of Simpson's Paradox and related links.

The csv file `southwest_vs_jetblue.csv` contains all Southwest and JetBlue flights in 2015.

In this dataset, we are going to verify the following occurrences of Simpson's Paradox: For a given set of airports,
* The average departure delay of Southwest is greater than (or less than) the average departure delay of JetBlue.
* Airport by airport, the average departure delay of Southwest is *less* than (or greater than) the average departure delay of JetBlue.

That is, the inequalities of the average flight delays between the two airlines are reversed when viewed at the level of each airport. In fact this reversal holds for *every* airport being considered.

In [50]:
jb_sw_filepath = os.path.join('data', 'jetblue_or_sw.csv')
dtype = proj.data_types()

# The `usecols` keyword:
# choose *only* the columns you need to reduce your memory footprint!
usecols = ['AIRLINE','DEPARTURE_DELAY', 'ORIGIN_AIRPORT']

jb_sw = pd.read_csv(jb_sw_filepath, dtype=dtype, usecols=usecols)

In [51]:
jb_sw

        AIRLINE ORIGIN_AIRPORT  DEPARTURE_DELAY
0            B6            SJU             -2.0
1            B6            SJU            -14.0
2            B6            PSE             -7.0
3            B6            BQN             -3.0
4            B6            SJU            -14.0
...         ...            ...              ...
1528898      B6            LAX             -4.0
1528899      B6            JFK             -4.0
1528900      B6            JFK             -9.0
1528901      B6            MCO             -6.0
1528902      B6            JFK             15.0

[1528903 rows x 3 columns]

**Question 8**

Filter the dataset `jb_sw` to flights *originating* from the following 10 airports: ABQ, BDL, BUR, DCA, MSY, PBI, PHX, RNO, SJC, SLC.

Illustrate Simpson's paradox with this table:
* Calculate the proportion of each airline's flights that are delayed (at each of the 10 airports):
    - Create a function `prop_delayed_by_airline` that takes in a dataframe like `jb_sw` and returns a DataFrame indexed by airline that contains the proportion of each airline's flights that are delayed.
* Calculate these proportions across all airports in the dataset (at each of the 10 airports):
    - Create a function `prop_delayed_by_airline_airport` that takes in a dataframe like `jb_sw` and returns a DataFrame, with columns given by airports, indexed by airline, that contains the proportion of each airline's flights that are delayed at each airport.

*Remark 1:* For the purpose of this question, a canceled flight is **not** considered delayed.

*Remark 2:* Make sure that the functions only work with the columns that are absolutely necessary for the question to avoid out of memory errors!

Verify that Simpson's paradox is present in this output! 

Can you explain *why* Simpson's paradox is occurring? (Hint: where are these airports located? Which have the most flights?)

In [58]:
def prop_delayed_by_airline(jb_sw):
    """
    prop_delayed_by_airline takes in a dataframe like jb_sw and returns a
    DataFrame indexed by airline that contains the proportion of each airline's
    flights that are delayed.

    :param jb_sw: a dataframe similar to jb_sw
    :returns: a dataframe as above

    :Example:
    >>> fp = os.path.join('data', 'jetblue_or_sw.csv')
    >>> jb_sw = pd.read_csv(fp, nrows=100)
    >>> out = prop_delayed_by_airline(jb_sw)
    >>> isinstance(out, pd.DataFrame)
    True
    >>> (out >= 0).all().all() and (out <= 1).all().all()
    True
    >>> len(out.columns) == 1
    True
    """

    airlines = jb_sw[jb_sw["ORIGIN_AIRPORT"].isin(["ABQ", "BDL", "BUR", "DCA", "MSY", "PBI", "PHX", "RNO", "SJC", "SLC"])]
    #departure delay is greater than 0 
    airlines['DEPARTURE_DELAY'] = airlines['DEPARTURE_DELAY'] > 0.0
    
    return airlines.groupby('AIRLINE')['DEPARTURE_DELAY'].mean().to_frame()


def prop_delayed_by_airline_airport(jb_sw):
    """
    prop_delayed_by_airline_airport that takes in a dataframe like jb_sw and
    returns a DataFrame, with columns given by airports, indexed by airline,
    that contains the proportion of each airline's flights that are delayed at
    each airport.

    :param jb_sw: a dataframe similar to jb_sw
    :returns: a dataframe as above.

    :Example:
    >>> fp = os.path.join('data', 'jetblue_or_sw.csv')
    >>> jb_sw = pd.read_csv(fp, nrows=100)
    >>> out = prop_delayed_by_airline_airport(jb_sw)
    >>> isinstance(out, pd.DataFrame)
    True
    >>> ((out >= 0) | (out <= 1) | (out.isnull())).all().all()
    True
    >>> len(out.columns) == 6
    True
    """

    airlines = jb_sw[jb_sw["ORIGIN_AIRPORT"].isin(["ABQ", "BDL", "BUR", "DCA", "MSY", "PBI", "PHX", "RNO", "SJC", "SLC"])]
    airlines['DEPARTURE_DELAY'] = airlines['DEPARTURE_DELAY'] > 0.0

    pivoted = airlines.pivot_table(values = 'DEPARTURE_DELAY', columns = 'ORIGIN_AIRPORT', index='AIRLINE', aggfunc='mean')
    return pivoted

In [59]:
fp = os.path.join('data', 'jetblue_or_sw.csv')
jb_sw = pd.read_csv(fp, nrows=100)
out = prop_delayed_by_airline(jb_sw)
out

<ipython-input-58-32ec663f18b8>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airlines['DEPARTURE_DELAY'] = airlines['DEPARTURE_DELAY'] > 0.0

         DEPARTURE_DELAY
AIRLINE
B6              0.285714
WN              0.666667

In [60]:
out2=prop_delayed_by_airline_airport(jb_sw)
out2

<ipython-input-58-32ec663f18b8>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airlines['DEPARTURE_DELAY'] = airlines['DEPARTURE_DELAY'] > 0.0

ORIGIN_AIRPORT  ABQ  BDL  DCA  MSY       PBI  PHX
AIRLINE
B6              NaN  0.0  0.0  0.0  0.666667  NaN
WN              1.0  NaN  NaN  NaN       NaN  0.5

In [63]:
jb_sw.groupby('ORIGIN_AIRPORT').count()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
ORIGIN_AIRPORT,,,,,,,,,,,,,,,,,,,,,
ABQ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
AUS,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
BDL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
BOS,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,0,0,0,0,0,0
BQN,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,2,2,2,2,2
BTV,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
BUF,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
CMH,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,1,1,1,1,1
DCA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
DEN,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
DTW,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
EWR,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
FLL,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,0,1,1,1,1,1
GEG,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
HOU,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
HPN,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
JAX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
JFK,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,0,1,1,1,1,1
LAS,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
LAX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
LGA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
MCO,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,0,0,0,0,0
MDW,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
MSY,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
OAK,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
ONT,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
ORD,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
PBI,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,1,1,1,1,1
PDX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
PHX,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
PIT,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
PSE,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,0,0,0,0,0
PVD,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,0,0,0,0,0
PWM,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
ROC,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
RSW,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
SAN,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
SAT,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0
SEA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
SFO,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,0,0,0,0,0
SJU,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,0,6,6,6,6,6
SMF,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
SYR,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
TPA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,0,0,0,0

**Question 9**

Your work above illustrates Simpson's paradox on the specific dataset of flights originating from 10 specific airports. However, this still requires you to look at two dataframe to see if the paradox is present. Now, you will create a function that verifies Simpson's paradox in general. You will do this by writing code to compare the two dataframes, instead of inspecting them manually.

Create a function `verify_simpson` that returns a boolean output regarding if the paradox is present.
```
verify_simpson(df, group1, group2, occur)
```
- df is a dataframe (e.g. jb_sw),
- group1 is the first group being aggregated against (e.g. `AIRLINE`),
- group2 is the second group being aggregated against (e.g. `ORIGIN_AIRPORT`),
- occur is a column with values {0, 1}, denoting if an event occurred for that individual.
  (e.g. "1 if flight was delayed" and "0 if flight was not delayed")

`verify_simpson` should return `True` only if there is a reversal for *every* value of `group2` (e.g. for every airport).

Example:

Consider the following dataframe `df` with columns `treatment`, `stone_size`, and `success`:

|treatment|stone_size|success|
|---|---|---|
|A|small|1|
|B|small|1|
|...|...|...|
|A|large|0|
|B|small|0|
|B|small|1|

`df` corresponds to the following diagram:
<img src="https://miro.medium.com/max/996/1*IfVjfdGD7RPwLDC6WzT9Uw.png" style="width: 300px"/>

Here, `verify_simpson(df, 'treatment', 'stone_size', 'success')` should return `True`.

Verify that you function works on the previous question!

In [120]:
def verify_simpson(df, group1, group2, occur):
    """
    verify_simpson verifies whether a dataset displays Simpson's Paradox.

    :param df: a dataframe
    :param group1: the first group being aggregated
    :param group2: the second group being aggregated
    :param occur: a column of df with values {0,1}, denoting
    if an event occurred.
    :returns: a boolean. True if simpson's paradox is present,
    otherwise False.

    :Example:
    >>> df = pd.DataFrame([[4,2,1], [1,2,0], [1,4,0], [4,4,1]], columns=[1,2,3])
    >>> verify_simpson(df, 1, 2, 3) in [True, False]
    True
    >>> verify_simpson(df, 1, 2, 3)
    False
    """
    copy1 = df.copy()
    out1 = copy1.groupby(group1)[occur].mean().to_frame()
    copy2 = df.copy()
    out2 = copy2.pivot_table(values = occur, columns = group2, index=group1, aggfunc='mean')
    prop1 = out1.iloc[0,0]
    prop2 = out1.iloc[1,0]
    out = True
    if prop1 > prop2:
        for i in range(out2.shape[1]):
            if out2.iloc[0,i] >= out2.iloc[1,i]:
                out = False
    else:
         for i in range(out2.shape[1]):
            if out2.iloc[0,i] <= out2.iloc[1,i]:
                out = False
    return out

In [121]:
df = pd.DataFrame([[4,2,1], [1,2,0], [1,4,0], [4,4,1]], columns=[1,2,3])
print(df)
out = verify_simpson(df, 1, 2, 3)
out

   1  2  3
0  4  2  1
1  1  2  0
2  1  4  0
3  4  4  1

False

In [115]:
df.iloc[0,0]

4

### Bonus problem (worth zero points)

This question is for fun and explores a very data-science type problem: can we automate finding examples of Simpson's Paradox? This is an active area of research (see for example: https://arxiv.org/pdf/1801.04385.pdf), but is a very accessible problem. While totally optional, this question can lead to pretty interesting self-driven projects!

**Question 10 (Searching for Simpson's Paradox):**

As you observed from the reading in the lecture notes, Simpson's Paradox often occurs due to some confounding factor among the columns of a dataset. In the case of gender balance in student admissions to academic departments at UC Berkeley, the confounding factor was the admission rate (i.e. how hard it is to gain admission to a department).

What might be a confounding factor be for flight delays among airports in question 8? Now you are going to write code to discover instances of Simpson's Paradox; that is, you will programmatically find interesting relationships present in the data.

Given the dataset `jb_sw`, we'd like to find new groups of airports, as in question 8, for which the statistics of flight delays between JetBlue and Southwest satisfy Simpson's Paradox.

Create a function `search_simpsons` that takes in the `jb_sw` dataset and a number `N`, and returns a list of `N` airports for which the proportion of flight delays between JetBlue and Southwest satisfies Simpson's Paradox.
- Only consider airports that have '3 letter codes',
- Only consider airports that have at least one JetBlue *and* Southwest flight.

*Remark 1:* Iterate through groups of airports of size `N` using `itertools.combinations` until you find a group that works. Make sure your function finishes, even if it doesn't find something.

*Remark 2:* You should be using your work from Question 9!

# Congratulations, you finished the project!

### Before you submit:
* Be sure you run the doctests on all your code in project02.py

### To submit:
* **Upload the .py file to gradescope**