# DSC 80: Lab 03

### Due Date: Saturday October 24th, Midnight - 11:59 PM

## Zoom Lab Hours
- Follow instructions on this link: https://docs.google.com/document/d/16qZpPSYhxwQDMcn-lGQjC-J-PzppLevv_mANLt2ko8g/edit

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab**.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab**.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [303]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [304]:
import lab03 as lab

In [305]:
import os
import pandas as pd
import numpy as np

---

# Hypothetically speaking...

In this section we'll develop an intuition for the terms and structure of hypothesis testing -- it's nothing to be afraid of!

The first step is always to define what you're looking at, create your hypotheses, and set a level of significance.  Once you've done that, you can find a p-value which is related to your test statistic.

If all of these words are scary: look at the lecture notebook, the textbook references, and don't forget to think about the real-world meaning of these terms!  The following example describes a real-world scenario, so you can think of it in a normal lens.

**Question 1: Faulty tires**

A tire manufacturer tests whether a set of tires meets the company's performance standards by checking:

> In 60 out of 100 tests, if a Honda CRV can come to a complete stop from 60 mph in fewer than 108 feet.

That is, 60% of the time, the stopping distance of a car outfitted with generic tires should be less than 108 feet. The factory is wondering if a current run of tires is up to standard, so they choose a random set of tires from the production line to test their performance, and bring the car to a complete stop from 60 mph a total of 100 times. Then they ask:

> Are these tires faulty?

Which of the following are valid null hypotheses that address the question we are trying to answer, using the data we are given?  Which are valid alternative hypotheses?

Outfitted with that set of tires, the car:
1. has a 60 mph stopping distance under 108 feet, at least 60% of the time.
1. has a 60 mph stopping distance under 108 feet, at most 60% of the time.
1. has a 60 mph stopping distance under 108 feet, equal to 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, at least 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, at most 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, roughly 60% of the time.
1. is as safe as the car with generic tires.
1. causes the car to stop in a shorter distance.


Write a function `car_null_hypoth` which takes zero arguments and returns a list of the valid null hypotheses.  
Write a function `car_alt_hypoth` which takes zero arguments and returns a list of the valid alternative hypotheses.

In [4]:
def car_null_hypoth():
    """
    Returns a list of valid null hypotheses.
    
    :Example:
    >>> set(car_null_hypoth()) <= set(range(1,11))
    True
    """
    return [3,6, 7]


def car_alt_hypoth():
    """
    Returns a list of valid alternative hypotheses.
    
    :Example:
    >>> set(car_alt_hypoth()) <= set(range(1,11))
    True
    """
    return [2, 5, 8]

In [5]:
car_null_hypoth()

[3, 6, 7]

Which of the following are valid test statistics for our question?

1. The average number of feet the car took to come to a complete stop in 100 attempts.
1. The number of times the car stopped in under 108 feet in 100 attempts.
1. The number of attempts it took before the car stopped in under 108 feet.
1. The proportion of attempts the car successfully stopped in under 108 feet.

Write a function `car_test_stat` which takes zero arguments and returns a list of valid test statistics.

In [6]:
def car_test_stat():
    """
    Returns a list of valid test statistics.
    
    :Example:
    >>> set(car_test_stat()) <= set(range(1,5))
    True
    """
    return [1, 2, 4]

The p-value is calculated as how likely it is to find something as extreme or more extreme than our observed test statistic.  To do this, we assume the null hypothesis is true, and then define "extremeness" based on the alternative hypothesis.

Why don't we just look at the probability of finding our observed test statistic?

1. Because our observed test statistic isn't extreme.
2. Because the probability of finding our observed test statistic equals the probability of finding something more extreme.
3. Because the probability of finding our observed test statistic is essentially zero.
4. Because our null hypothesis isn't suggesting equality.
5. Because our alternative hypothesis isn't suggesting equality.

Write a function `car_p_value` which takes zero arguments and returns the correct reason.

In [7]:
def car_p_value():
    """
    Returns an integer corresponding to the correct explanation.
    
    :Example:
    >>> car_p_value() in [1,2,3,4,5]
    True
    """
    return [2, 3, 5]

# Grouping: Google Play Store

The questions below analyze a dataset of Google Play Store apps. The dataset has been preprocessed slightly for your convenience.

Columns:
* `App`: App Name
* `Category`: App Category
* `Rating`: Average App Rating
* `Reviews`: Number of Reviews
* `Size`: Size of App
* `Installs`: Binned Number of Installs
* `Type`: Paid or Free
* `Price`: Price of App
* `Content Rating`: Age group the app is targeted at
* `Last Updated`: Last Updated Date


Link: https://www.kaggle.com/lava18/google-play-store-apps

**Question 2**

First, we'd like to do some basic cleaning to this dataset to better analyze it.
In the function `clean_apps`, which takes the Play Store dataset as input, clean as follows and return the cleaned df:
* Keep `Reviews` as type int.
* Strip all letters from the ends of `Size`, convert all units to unit kilobyte, and convert the column to type float (Hint: all Sizes end in either M (megabyte) or k (kilobyte); a helper function may be useful here).
* Strip the '+' from the ends of `Installs`, remove the commas, and convert it to type int.
* Since `Type` is binary, change all the 'Free's to 1 and the 'Paid's to 0.
* Strip dollar mark in `Price` and convert it to correct numeric data type.
* Strip all but the year (e.g. 2018) from `Last Updated` and convert it to type int.

Please return a *copy* of the original dataframe; don't alter the original.

In [8]:
play_fp = os.path.join('data', 'googleplaystore.csv')
play = pd.read_csv(play_fp)

In [210]:
def clean_apps(df):
    '''
    >>> fp = os.path.join('data', 'googleplaystore.csv')
    >>> df = pd.read_csv(fp)
    >>> cleaned = clean_apps(df)
    >>> len(cleaned) == len(df)
    True
    >>> cleaned.Reviews.dtype == int
    True
    '''
    out = df.copy()
    out['Reviews'] = df['Reviews'].astype(int)
    def clean_size(x):
        return x.strip('M').strip('k')
    out['Size'] = df['Size'].apply(clean_size)
    def clean_installs(x):
        return int(x.strip('+').replace(',',''))
    out['Installs'] = df['Installs'].apply(clean_installs)
    def clean_type(x):
        if x == 'Free':
            return 1
        else:
            return 0
    out['Type'] = df['Type'].apply(clean_type)
    def clean_price(x):
        return float(x.strip('$'))
    out['Price'] = df['Price'].apply(clean_price)
    def clean_lu(x):
        return int(x[-4:])
    out['Last Updated'] = df['Last Updated'].apply(clean_lu)
    return out

In [211]:
fp = os.path.join('data', 'googleplaystore.csv')
df = pd.read_csv(fp)
cleaned = clean_apps(df)
cleaned

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,1,0.0,Everyone,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,1,0.0,Everyone,2018
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,1,0.0,Everyone,2018
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,1,0.0,Teen,2018
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,1,0.0,Everyone,2018
...,...,...,...,...,...,...,...,...,...,...
9140,FR Forms,BUSINESS,NaN,0,9.6,10,1,0.0,Everyone,2016
9141,Sya9a Maroc - FR,FAMILY,4.5,38,53,5000,1,0.0,Everyone,2017
9142,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,1,0.0,Everyone,2018
9143,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,1000,1,0.0,Everyone,2017
9144,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19,10000000,1,0.0,Everyone,2018

**Question 2 (Continued)**

Now, we can do some basic exploration.

In the function `store_info`, find the following using the **cleaned** dataframe:
* Find the year with the highest median `Installs`, among all years with at least 100 apps.
* Find the `Content Rating` with the highest minimum `Rating`.
* Find the `Category` has the highest average price.
* Find the `Category` with lowest average rating, among apps that have at least 1000 reviews.

and return these values in a list.

*Remark:* Note that the last question is asking you to compute the *average of averages* (the 'Rating' column contains the average rating of an app) -- such analyses are prone to occurrences of Simpson's Paradox. Considering apps with at least 1000 reviews helps limit the effect of such [ecological fallacies](https://afraenkel.github.io/practical-data-science/05/understanding-aggregations.html#reversing-aggregations-ecological-fallacies).
* You can assume there is no ties.

In [441]:
def store_info(cleaned):
    '''
    >>> fp = os.path.join('data', 'googleplaystore.csv')
    >>> df = pd.read_csv(fp)
    >>> cleaned = clean_apps(df)
    >>> info = store_info(cleaned)
    >>> len(info)
    4
    >>> info[2] in cleaned.Category.unique()
    True
    '''
    year_count = cleaned.groupby('Last Updated').count()
    filtered_years = year_count[year_count['App'] >= 100].index
    filtered_df = cleaned[cleaned['Last Updated'].isin(filtered_years)]
    median_installs = filtered_df[['Last Updated','Installs']].groupby('Last Updated').median().idxmax()[0]
    
    cr_high_min_rating = cleaned[['Content Rating', 'Rating']].groupby('Content Rating').min().idxmax()[0]
    
    high_price_cat = cleaned[['Category','Price']].groupby('Category').mean().idxmax()[0]
    
    filtered_df_2 = cleaned[cleaned['Reviews'] >= 1000]
    low_avg_rating = filtered_df_2[['Category', 'Rating']].groupby('Category').mean().idxmin()[0]
    return [median_installs, cr_high_min_rating, high_price_cat, low_avg_rating]

In [445]:
fp = os.path.join('data', 'googleplaystore.csv')
df = pd.read_csv(fp)
cleaned = clean_apps(df)
info = store_info(cleaned)
cleaned[cleaned['Reviews'] >= 1000][['Category', 'Rating']].groupby('Category').mean()

                       Rating
Category
ART_AND_DESIGN       4.473913
AUTO_AND_VEHICLES    4.318519
BEAUTY               4.307143
BOOKS_AND_REFERENCE  4.398438
BUSINESS             4.270000
COMICS               4.096154
COMMUNICATION        4.212295
DATING               3.998925
EDUCATION            4.418478
ENTERTAINMENT        4.160920
EVENTS               4.358333
FAMILY               4.218234
FINANCE              4.324324
FOOD_AND_DRINK       4.177586
GAME                 4.306675
HEALTH_AND_FITNESS   4.401351
HOUSE_AND_HOME       4.183721
LIBRARIES_AND_DEMO   4.108696
LIFESTYLE            4.097345
MAPS_AND_NAVIGATION  4.236957
MEDICAL              4.354667
NEWS_AND_MAGAZINES   4.228049
PARENTING            4.355000
PERSONALIZATION      4.324265
PHOTOGRAPHY          4.229480
PRODUCTIVITY         4.280916
SHOPPING             4.266667
SOCIAL               4.309009
SPORTS               4.240854
TOOLS                4.199650
TRAVEL_AND_LOCAL     4.157647
VIDEO_PLAYERS        4.181333
WEATHER              4.293182

### Transforming Apps review count by App category

A reasonable question that we may ask after cleaning the apps dataset is that how popular each app is. One way of measuring popularity of apps is by studying its review count within their respective category. 

**Question 3**
* Create a function `std_reviews_by_app_cat` that takes in a **cleaned** dataframe and outputs a dataframe with 
    - the same rows as the input,
    - two columns given by `['Category', 'Reviews']`,
    - where the `Reviews` columns are *standardized by app category* -- that is, the number of reviews for every app is put into the standard units for the category it belongs to. For a review of standard units, see the [DSC 10 Textbook](https://www.inferentialthinking.com/chapters/15/1/Correlation)
    - *Hint*: use the methoc `groupby` and `transform`.
* Lastly, create a function `su_and_spread` that returns a list of two items (hard-code your answers):
    - Consider the following scenario: half of the apps in the category 'FAMILY' receives ratings of 0 stars while the other
    half has rating of 5 stars. Similarly, the ‘MEDICAL' category has half 1-star and half 4-star apps.
    Which app would have a higher rating after standarization? The five stars in the family category or the four stars in the
    medical one. Answer with the name of the corresponding category ('FAMILY'/'MEDICAL') or use 'equal' if you think both
    rating would be the same after standarization. (Don't worry about the uppercase but do be careful with the spelling). 
    - Which category type has the biggest "spread" of review count?

In [179]:
cleaned = lab.clean_apps(play)

In [453]:
def std_reviews_by_app_cat(cleaned):
    """
    >>> fp = os.path.join('data', 'googleplaystore.csv')
    >>> play = pd.read_csv(fp)
    >>> clean_play = clean_apps(play)
    >>> out = std_reviews_by_app_cat(clean_play)
    >>> set(out.columns) == set(['Category', 'Reviews'])
    True
    >>> np.all(abs(out.select_dtypes(include='number').mean()) < 10**-7)  # standard units should average to 0!
    True
    """
    out = cleaned.copy()
    means = cleaned[['Category','Reviews']].groupby('Category').mean()
    stds = cleaned[['Category','Reviews']].groupby('Category').std()
    def standardize(row):
        return np.array([row[0],(row[1] - means.loc[row[0],:]['Reviews']) / (stds.loc[row[0],:]['Reviews'])])
    out['Reviews'] = cleaned[['Category','Reviews']].transform(standardize, axis = 1)['Reviews']
    return out[['Category', 'Reviews']]

def su_and_spread():
    """
    >>> out = su_and_spread()
    >>> len(out) == 2
    True
    >>> out[0].lower() in ['medical', 'family', 'equal']
    True
    >>> out[1] in ['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',\
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',\
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',\
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',\
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',\
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',\
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',\
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION']
    True
    """
    
    return ['equal','Game']

In [454]:
fp = os.path.join('data', 'googleplaystore.csv')
play = pd.read_csv(fp)
clean_play = clean_apps(play)
out = std_reviews_by_app_cat(clean_play)
out

            Category               Reviews
0     ART_AND_DESIGN   -0.3413694036598642
1     ART_AND_DESIGN  -0.32549796076669674
2     ART_AND_DESIGN    1.3744553589157202
3     ART_AND_DESIGN     3.891375487224039
4     ART_AND_DESIGN  -0.32549796076669674
...              ...                   ...
9140        BUSINESS   -0.1764708765703538
9141          FAMILY  -0.11223453523315415
9142          FAMILY  -0.11225855690238562
9143         MEDICAL  -0.22383066144932492
9144       LIFESTYLE     2.200101853014516

[9145 rows x 2 columns]

In [250]:
fp = os.path.join('data', 'googleplaystore.csv')
play = pd.read_csv(fp)
clean_play = clean_apps(play)

clean_play[['Category','Reviews']].groupby('Category').std()['Reviews']

Category
ART_AND_DESIGN         5.090904e+04
AUTO_AND_VEHICLES      4.563315e+04
BEAUTY                 1.054536e+04
BOOKS_AND_REFERENCE    6.850070e+04
BUSINESS               8.705346e+04
COMICS                 3.641983e+04
COMMUNICATION          2.040725e+06
DATING                 5.239280e+04
EDUCATION              8.654870e+04
ENTERTAINMENT          3.031138e+05
EVENTS                 6.380886e+03
FAMILY                 1.415389e+06
FINANCE                1.438728e+05
FOOD_AND_DRINK         1.039256e+05
GAME                   4.303622e+06
HEALTH_AND_FITNESS     8.883747e+04
HOUSE_AND_HOME         7.504849e+04
LIBRARIES_AND_DEMO     4.451219e+04
LIFESTYLE              1.695701e+05
MAPS_AND_NAVIGATION    1.440948e+05
MEDICAL                1.463978e+04
NEWS_AND_MAGAZINES     1.379865e+05
PARENTING              8.995770e+04
PERSONALIZATION        6.368919e+05
PHOTOGRAPHY            9.641880e+05
PRODUCTIVITY           6.420081e+05
SHOPPING               9.736814e+05
SOCIAL                 5.022962e+05
SPORTS                 1.026812e+06
TOOLS                  1.004547e+06
TRAVEL_AND_LOCAL       1.099518e+05
VIDEO_PLAYERS          9.160582e+05
WEATHER                3.151676e+05
Name: Reviews, dtype: float64

### Facebook Friends

**Question 4**

A group of students decided to send out a survey to their Facebook friends. Each student asks 1000 of their friends for their first and last name, the company they currently work at, their job title, their email, and the university they attended. Combine all the data contained in the files `survey*.csv` (within the `responses` folder within the data folder) into a single dataframe. The number of files and the number of rows in each file may vary, so don't hardcode your answers!

Create a function `read_survey` which takes in a directory path (containing files `survey*.csv`), and outputs a dataframe with six columns titled: `first name`, `last name`, `current company`, `job title`, `email`, `university` (in that order). 

*Hint*: You can list the files in a directory using `os.listdir`.

*Remark: You may have to do some cleaning to make this possible!*

Create a function `com_stats` that takes in in a dataframe and returns a (hardcoded) list containing: 
- The number of employees at the company that hired the most employees
- The number of emails that end in ".edu"
- The job title that has the longest name (there are no ties)
- The number of managers (hint: you may want to look through all the job titles to make sure you get all of them!)

In [306]:
dirname = os.path.join('data', 'responses')
lab.read_survey(dirname)

Ellipsis

In [450]:
def read_survey(dirname):
    """
    read_survey combines all the survey*.csv files into a singular DataFrame
    :param dirname: directory name where the survey*.csv files are
    :returns: a DataFrame containing the combined survey data
    :Example:
    >>> dirname = os.path.join('data', 'responses')
    >>> out = read_survey(dirname)
    >>> isinstance(out, pd.DataFrame)
    True
    >>> len(out)
    5000
    >>> read_survey('nonexistentfile') # doctest: +ELLIPSIS
    Traceback (most recent call last):
    ...
    FileNotFoundError: ... 'nonexistentfile'
    """
    dirs = os.listdir(dirname)
    read_files = []
    for file in dirs:
        df = pd.read_csv(dirname + '/' + file)
        cols = []
        for col in df.columns:
            cols.append(col.replace('_', ' ').lower())
        df.columns = cols
        read_files.append(df)
              
    return pd.concat(read_files)
    



def com_stats(df):
    """
    com_stats 
    :param df: a DataFrame containing the combined survey data
    :returns: a hardcoded list of answers to the problems in the notebook
    :Example:
    >>> dirname = os.path.join('data', 'responses')
    >>> df = read_survey(dirname)
    >>> out = com_stats(df)
    >>> len(out)
    4
    >>> isinstance(out[0], int)
    True
    >>> isinstance(out[2], str)
    True
    """
    out1 = max(df.groupby('current company').size())
    def check_edu(email):
        temp = str(email)
        if temp[-4:] == '.edu':
            return True
        else:
            return False
    out2 = len(list(filter(check_edu, df['email'])))
    max_out3 = 0
    out3 = ''
    out4 = 0
    for tit in df['job title']:
        temp = len(str(tit))
        if temp > max_out3:
            max_out3 = temp
            out3 = str(tit)
        fixed = str(tit).lower()
        if 'manager' in fixed:
            out4 += 1
    
    return [out1, out2, out3, out4]

In [451]:
dirname = os.path.join('data', 'responses')
df = read_survey(dirname)
out = com_stats(df)
out

[5, 253, 'Business Systems Development Analyst', 369]

### Combining Data
**Question 5**

Every week, a professor sends out an extra credit survey asking for students' favorite things (animals, movies, etc). 
- Each student who has completed at least 75% of the surveys receives 5 points of extra credit.
- If at least 90% of the class answers at least one of the questions (ex. favorite animal), *everyone* in the class receives 1 point of extra credit. This overall class extra credit only applies once (ex. If 95% of students answer favorite color and 91% answer favorite animal, the entire class still only receives 1 extra point as a class).

Create a function `combine_surveys` which takes in a directory path (containing files `favorite*.csv`) and combines all of the survey data into one DataFrame, indexed by student ID (a value 1 - 1000).

Create a function `check_credit` which takes in a DataFrame with the combined survey data and outputs a DataFrame of the names of students and how many extra credit points they would receive, indexed by their ID (a value 1-1000)

In [326]:
dirname = os.path.join('data', 'extra-credit-surveys')
df = lab.combine_surveys(dirname)
df

Ellipsis

In [334]:
def combine_surveys(dirname):
    """
    combine_surveys takes in a directory path 
    (containing files favorite*.csv) and combines 
    all of the survey data into one DataFrame, 
    indexed by student ID (a value 0 - 1000).

    :Example:
    >>> dirname = os.path.join('data', 'extra-credit-surveys')
    >>> out = combine_surveys(dirname)
    >>> isinstance(out, pd.DataFrame)
    True
    >>> out.shape
    (1000, 6)
    >>> combine_surveys('nonexistentfile') # doctest: +ELLIPSIS
    Traceback (most recent call last):
    ...
    FileNotFoundError: ... 'nonexistentfile'
    """
    
    directory = os.listdir(dirname)
    dfs = []
    for file in directory:
        df = pd.read_csv(dirname + "/" + file)  
        dfs.append(df.set_index('id'))
    return pd.concat(dfs, sort=True, axis=1)
    


def check_credit(df):
    """
    check_credit takes in a DataFrame with the 
    combined survey data and outputs a DataFrame 
    of the names of students and how many extra credit 
    points they would receive, indexed by their ID (a value 0-1000)

    :Example:
    >>> dirname = os.path.join('data', 'extra-credit-surveys')
    >>> df = combine_surveys(dirname)
    >>> out = check_credit(df)
    >>> out.shape
    (1000, 2)
    """
    def check_student(student):
        num_surveys_not_done = student.isnull().sum()
        if num_surveys_not_done > 1:
            return 0 
        else:
            return 5
    def check_class(df):
        bool_ar = (df.isnull().sum().values / df.shape[0]) <= .10
        if True in bool_ar:
            return True
        else:
            return False
    df['extra credit'] = df.apply(check_student, axis=1)
    if check_class(df) == True:
        df['extra credit'] = df['extra credit'] + 1
    return df[['name', 'extra credit']]

In [335]:
dirname = os.path.join('data', 'extra-credit-surveys')
out = combine_surveys(dirname)
out

,name,movie,genre,animal,plant,color
id,,,,,,
1,Myrtia,NaN,(no genres listed),Long-crested hawk eagle,NaN,Red
2,Nathanil,NaN,Documentary,Euro wallaby,NaN,Khaki
3,Joni,"Glass-blower's Children, The (Glasblåsarns barn)",NaN,Brown brocket,NaN,Red
4,Prentice,NaN,(no genres listed),"Peccary, white-lipped",NaN,Yellow
5,Claudette,NaN,NaN,"Capuchin, brown",NaN,Fuscia
...,...,...,...,...,...,...
996,Addie,Kung Phooey!,Horror|Mystery|Sci-Fi,"Eland, common",NaN,Purple
997,Valaria,Angel Heart,NaN,Agouti,NaN,Blue
998,Gunilla,NaN,NaN,"Shelduck, european",NaN,NaN
999,Zitella,NaN,Comedy,NaN,NaN,Maroon
1000,Jammal,Zathura,Drama,African porcupine,NaN,Red

In [336]:
dirname = os.path.join('data', 'extra-credit-surveys')
df = combine_surveys(dirname)
out = check_credit(df)
out

           name  extra credit
id
1        Myrtia             1
2      Nathanil             1
3          Joni             1
4      Prentice             1
5     Claudette             1
...         ...           ...
996       Addie             6
997     Valaria             1
998     Gunilla             1
999     Zitella             1
1000     Jammal             6

[1000 rows x 2 columns]

### Joining pets and owners

**Question 6**

You are analyzing data from a veterinarian clinic. The datasets contain several types of information from the clinic, including its customers (pet owners), pets, and available procedures and history. The column names are self-explanatory. These dataframes are provided to you:
-  `owners` stores the customer information, where every `OwnerID` is unique (verify yourself).
-  `pets` stores the pet information. Each pet belongs to a customer in `owners`.
-  `procedure_detail` contains a catalog of procedures that are offered by the clinic.
-  `procedure_history` has procedure records. Each procedure is given to a pet in `pets`.

You want to answer the following questions:

1. What is the most popular Procedure Type for all of the pets we have in our `pets` dataset? Note that some pets are registered but haven't had any procedure performed. Also, some pets that have had procedures done, are not registered in `pets`. Create a function `most_popular_procedure` that takes in `pets`, `procedure_history` and returns the name of the most popular Procedure Type as a string.
 
2. What is the name of each customer's pet(s)? Create a function `pet_name_by_owner` that takes in `owners`, `pets` and returns a Series that holds the pet name (as a string) indexed by owner's (first) name. If an owner has multiple pets, the corresponding value should be a list of names as strings.

3. For each city that had owners who had their pets in our procedure history, how much does the city spend in total on procedures? Create a function `total_cost_per_city` that returns a Series that contains the sum of money that a city has spent on pets' procedures, indexed by `City`. Hint: think of what makes a procedure unique in the context of this dataset.

In [337]:
owners_fp = os.path.join('data', 'pets', 'Owners.csv')
pets_fp = os.path.join('data', 'pets', 'Pets.csv')
procedure_detail_fp = os.path.join('data', 'pets', 'ProceduresDetails.csv')
procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')

In [338]:
owners = pd.read_csv(owners_fp)
pets = pd.read_csv(pets_fp)
procedure_detail = pd.read_csv(procedure_detail_fp)
procedure_history = pd.read_csv(procedure_history_fp)

In [375]:
pets

      PetID     Name    Kind  Gender  Age  OwnerID
0   J6-8562  Blackie     Dog    male   11     5168
1   Q0-2001   Roomba     Cat    male    9     5508
2   M0-2904    Simba     Cat    male    1     3086
3   R3-7551   Keller  Parrot  female    2     7908
4   P2-7342  Cuddles     Dog    male   13     4378
..      ...      ...     ...     ...  ...      ...
95  U8-6473  Biscuit     Dog  female    3     1070
96  I5-4893   Cookie     Cat  female    3     7340
97  Q8-0954  Lakshmi     Cat  female    7     9385
98  N0-9539  Swiffer     Cat    male   14     9365
99  S5-5938      Taz     Dog    male    6     9427

[100 rows x 6 columns]

In [374]:
lab.pet_name_by_owner(owners, pets)

Ellipsis

In [438]:
def most_popular_procedure(pets, procedure_history):
    """
    What is the most popular Procedure Type for all of the pets we have in our `pets` dataset?
    :Example:
    >>> pets_fp = os.path.join('data', 'pets', 'Pets.csv')
    >>> procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')
    >>> pets = pd.read_csv(pets_fp)
    >>> procedure_history = pd.read_csv(procedure_history_fp)
    >>> out = most_popular_procedure(pets, procedure_history)
    >>> isinstance(out,str)
    True
    """
    merged_df = pets.merge(procedure_history, how = 'inner',on = 'PetID')
    return merged_df.groupby('ProcedureType').count().idxmax()[0]


def pet_name_by_owner(owners, pets):
    """
    pet names by owner

    :Example:
    >>> owners_fp = os.path.join('data', 'pets', 'Owners.csv')
    >>> pets_fp = os.path.join('data', 'pets', 'Pets.csv')
    >>> owners = pd.read_csv(owners_fp)
    >>> pets = pd.read_csv(pets_fp)
    >>> out = pet_name_by_owner(owners, pets)
    >>> len(out) == len(owners)
    True
    >>> 'Sarah' in out.index
    True
    >>> 'Cookie' in out.values
    True
    """
    def list_func(pets):
        pets = list(pets)
        if len(pets) == 1:
            return pets[0]
        else:
            return pets
    owners_ID_pets = pets.groupby('OwnerID')['Name'].apply(list_func)
    merged_df = owners.merge(owners_ID_pets, how = 'inner', on = 'OwnerID')[['Name_x','Name_y']]
    return merged_df.set_index(['Name_x'])['Name_y']


def total_cost_per_city(owners, pets, procedure_history, procedure_detail):
    """
    total cost per city
​
    :Example:
    >>> owners_fp = os.path.join('data', 'pets', 'Owners.csv')
    >>> pets_fp = os.path.join('data', 'pets', 'Pets.csv')
    >>> procedure_detail_fp = os.path.join('data', 'pets', 'ProceduresDetails.csv')
    >>> procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')
    >>> owners = pd.read_csv(owners_fp)
    >>> pets = pd.read_csv(pets_fp)
    >>> procedure_detail = pd.read_csv(procedure_detail_fp)
    >>> procedure_history = pd.read_csv(procedure_history_fp)
    >>> out = total_cost_per_city(owners, pets, procedure_history, procedure_detail)
    >>> set(out.index) <= set(owners['City'])
    True
    """
    merged_df = pets.merge(owners, how = 'inner', on = 'OwnerID').merge(procedure_history, how = 'inner', on = 'PetID').merge(procedure_detail, how = 'inner', on = 'ProcedureType')
    return merged_df.groupby('City').sum()['Price']

In [439]:
owners_fp = os.path.join('data', 'pets', 'Owners.csv')
pets_fp = os.path.join('data', 'pets', 'Pets.csv')
procedure_detail_fp = os.path.join('data', 'pets', 'ProceduresDetails.csv')
procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')
owners = pd.read_csv(owners_fp)
pets = pd.read_csv(pets_fp)
procedure_detail = pd.read_csv(procedure_detail_fp)
procedure_history = pd.read_csv(procedure_history_fp)
out = total_cost_per_city(owners, pets, procedure_history, procedure_detail)
out

City
Ann Arbor            7705
Center Line            85
Commerce               85
Detroit              1767
East Lansing         1767
Farmington Hills       40
Flint                  40
Grand Rapids        19921
Kalamazoo              40
Lansing               255
Livonia                85
Marquette             425
Michigan Center        85
Plymouth               85
Pontiac               255
Roseville              85
Saint Charles          85
Southfield            465
Warren                 85
Wayne                  85
Name: Price, dtype: int64

In [440]:
owners_fp = os.path.join('data', 'pets', 'Owners.csv')
pets_fp = os.path.join('data', 'pets', 'Pets.csv')
owners = pd.read_csv(owners_fp)
pets = pd.read_csv(pets_fp)
out = pet_name_by_owner(owners, pets)
out

Name_x
Debbie              Biscuit
John                Biscuit
Connie              Biscuit
Lena                Biscuit
Jessica             Biscuit
                 ...
Robert                  Taz
Daniel              Scooter
Alden               Scooter
Gary       [Scooter, Daisy]
Joseph              Blackie
Name: Name_y, Length: 89, dtype: object

In [367]:
pets_fp = os.path.join('data', 'pets', 'Pets.csv')
procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')
pets = pd.read_csv(pets_fp)
procedure_history = pd.read_csv(procedure_history_fp)
out = most_popular_procedure(pets, procedure_history)
out

'VACCINATIONS'

In [425]:
procedure_detail

        ProcedureType  ProcedureSubCode           Description  Price
0         OFFICE FEES                 1           Office Call     32
1         OFFICE FEES                 2             Emergency    100
2         OFFICE FEES                 3                  Reck     24
3            GROOMING                 1                  Bath     15
4            GROOMING                 2              Flea Dip     15
5            GROOMING                 3            Flea Spray     10
6        VACCINATIONS                 1       Galaxie (DHLPP)     15
7        VACCINATIONS                 2              Leukemia     20
8        VACCINATIONS                 3                  Lyme     15
9        VACCINATIONS                 4                   PCR     15
10       VACCINATIONS                 5                Rabies     10
11       VACCINATIONS                 6            Bordetella     10
12    HOSPITALIZATION                 1   All Hospitalization     25
13         ORTHOPEDIC                 1  Amput. per lim thor.    400
14         ORTHOPEDIC                 2               Casting     97
15         ORTHOPEDIC                 3            Re-Casting     62
16         ORTHOPEDIC                 4      Fem. head Ostec.    420
17         ORTHOPEDIC                 5     Lx Patella Repair    305
18         ORTHOPEDIC                 6      Metamason Splint     50
19         ORTHOPEDIC                 7          Pinning-I.M.    325
20         ORTHOPEDIC                 8           Pin Removal     68
21         ORTHOPEDIC                 9          Cast Removal     40
22  GENERAL SURGERIES                 1       Anal Gland Caut    150
23  GENERAL SURGERIES                 2        Aural Hematoma    108
24  GENERAL SURGERIES                 3                Declaw    125
25  GENERAL SURGERIES                 4    Dissolvable Suture     15
26  GENERAL SURGERIES                 5              Ear Crop    350
27  GENERAL SURGERIES                 6       Gastric Torsion    450
28  GENERAL SURGERIES                 7                Hernia    390
29  GENERAL SURGERIES                 8             Umbilical    175
30  GENERAL SURGERIES                 9              Perineal    375
31  GENERAL SURGERIES                10       Unilat Inquinal    195
32  GENERAL SURGERIES                11       Intestinal Anas    775
33  GENERAL SURGERIES                12    Open Chest Surgery    500
34  GENERAL SURGERIES                13      Perineal Adenoma    175
35  GENERAL SURGERIES                14     Peritoneal Lavage     85
36  GENERAL SURGERIES                15      Pyloric Stenosis    425
37  GENERAL SURGERIES                16           Splenectomy    375
38  GENERAL SURGERIES                17    Radical Mastectomy    450
39  GENERAL SURGERIES                18      Salivary Cyst Ex    570
40  GENERAL SURGERIES                19  Tail Dock-Amputation    250

## Congratulations! You're done!

* Submit the lab on Gradescope