# DSC 80: Lab 06

### Due Date: Saturday November 14th, 11:59 PM

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab*.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab**.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import lab06 as lab

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import time

In [4]:
import requests
import bs4

# Basic HTML tags practice

**Question 1**

Create a very basic `html` file that satisfies the following properties:

1. Has `<head>` and `<body>` tags.
2. Has a title
3. Inside the body tags:
    * At least two headers
    * At least three images:
        * At least one image must be a local file;
        * At least one image must be linked to online source; 
        * At least one image has to have default text when it cannot be displayed.
    * At least three references (hyperlinks) to different web pages;
    * At least one table with two columns.
    
        
   
4. Save your work as `lab06_1.html` in the same directory as `lab06.py`, make sure it loads in the browser and do not forget to submit it.
5. **Do not forget to submit all data files needed to display your page.**

**Note:** You can toy with (basic) HTML in the cells of a notebook, using either a "markdown cell" or by using the `IPython.display.HTML` function. However, be sure to open your saved file in a browser to be sure the page displays properly!

**Note:** If you work within Jupyter Notebook, you can later copy your text into a text editor and save it with the .html extension.

In [361]:
def question1():
    """
    NOTE: You do NOT need to do anything with this function.

    The function for this question makes sure you
    have a correctly named HTML file in the right
    place. Note: This does NOT check if the supplementary files
    needed for your page are there!

    >>> os.path.exists('lab06_1.html')
    True
    """

    # Don't change this function body!
    # No python required; create the HTML file.
    text = '''
    <html>
        <head>
            <title>lab06_1</title>
        </head>
        <body>
            <h1>Surfing</h1>
            <img src = "data/surf_photo.jpg" alt = 'surf_photo'>
            <p> How to Surf
                <br>
                <a href = "https://www.youtube.com/watch?v=67QNw2xQlsk">learn to surf!</a>
            </p>
                <p>Surfing for the views
                    <img src = "data/sunset.JPG" alt = 'sunset'>
                </p>
            <h2>Learn How to Shred!</h2>
                <p>
                <a href = 'https://www.wikihow.com/Surf'>Steps to Surf</a>
                </p>
                <p>Look like Kelly Slater after basic steps!
                    <img src = "https://cdn1.theinertia.com/wp-content/uploads/2018/12/kelly4-670x357.jpg"' alt = 'Kelly Slater Pic'>
                </p>
                <p>How to be a pro in San Diego
                    <br>
                    <a href = 'https://www.sandiego.org/articles/surfing/mele-sailis-surf-faves.aspx'>Pro Surf Guide</a>
                    
        <h2>San Diego Surf Spot Ratings by Max Levitt</h2>

        <table style="width:100%">
          <tr>
            <th>Beach</th>
            <th>Rating</th> 
          </tr>
          <tr>
            <td>Blacks</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Scripps</td>
            <td>5</td>
          </tr>
          <tr>
            <td>La Jolla Shores</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Pacific Beach</td>
            <td>4</td>
          </tr>
        </table>
        </body>
    </html>
    '''
    file = open("lab06_1.html","w")
    file.write(text)
    file.close()
    return None

In [362]:
question1()
os.path.exists('lab06_1.html')

True

In [359]:
HTML('lab06_1.html')

NameError: name 'HTML' is not defined

In [360]:
IPython.display.HTML('lab06_1.html')

In [9]:
import IPython

# Scraping an Online Bookstore

**Question 2**

Browse through the following fake on-line bookstore: http://books.toscrape.com/. This website is meant for toying with scraping.

Scrape the website, collecting data on all books that have **at least a four-star rating**, with a price **under £50** and belong to the book categories you want. You should collect the data in a dataframe as below (if you get an encoding error on your prices columns, like you see in the table below, don't worry about it):
<img src="bookdata.png">


Do this using the following steps:
1. Create a function `extract_book_links` that takes in the content of a book-listing page (a string of html), and returns a list of urls of book-detail pages that satisfy the requirements on "*at least* a four-star rating, and prices are *under* £50". 

2. Create a function `get_product_info` that takes in the content of a book-detail page (a string of html), a variable `categories` that is a list of book categories you want. If this input book is in the categories you want, returns a dictionary corresponding to a row in the dataframe in the image above (where the keys are the column names and the values are the row values); else, skip this book since this is not the book you want (ie. return None).

3. Create a function `scrape_books` of a single variable `k` that scrapes the first `k` pages of the bookstore (as determined by starting at the url above and clicking on the 'next' button),a variable `categories` that is a list of book categories you want, and returns a dataframe of books as the picture above. (Note: make sure the books returned satisfy the requirements set in part 1 about rating and price).


*Note:* Your function should take under 180 seconds to run through the entire bookstore.

*Note:* Don't worry about type casting (ie changing number of reviews to an int)

In [ ]:
fp = os.path.join('data', 'products.html')
text = open(fp, encoding='utf-8').read()

In [345]:
def extract_book_links(text):
    """
    :Example:
    >>> fp = os.path.join('data', 'products.html')
    >>> out = extract_book_links(open(fp, encoding='utf-8').read())
    >>> url = 'scarlet-the-lunar-chronicles-2_218/index.html'
    >>> out[1] == url
    True
    """
    data = bs4.BeautifulSoup(text, features="html.parser")
    cleaned = data.find_all("article", attrs={"class": "product_pod"})
    ratings = []
    for x in cleaned:
        if x.find("p", attrs={"class": "star-rating Four"}) or x.find("p", attrs={"class": "star-rating Five"}):
            temp = float(list(map(str.isdigit,x.find("p", attrs={"class": "price_color"}).text[1:]))[0])
            if temp < 50:
                ratings.append(x.find("a").get("href"))
    return ratings


def get_product_info(text, categories):
    """
    :Example:
    >>> fp = os.path.join('data', 'Frankenstein.html')
    >>> out = get_product_info(open(fp, encoding='utf-8').read(), ['Default'])
    >>> isinstance(out, dict)
    True
    >>> 'Category' in out.keys()
    True
    >>> out['Rating']
    'Two'
    """
    data = bs4.BeautifulSoup(text, features="html.parser")
    cat = []
    for x in data.find("ul", attrs={"class": "breadcrumb"}):
        cat.append(x)
    cat = cat[5].text.strip()
    if cat in categories:
        tbl = data.find("table", attrs={"class": "table table-striped"})
        vals = tbl.find_all(["th", "td"])
        end_vals = []
        for x in vals:
            end_vals.append(x.text)
        dict = {"Availability": end_vals[11],"Category": cat,"Description": data.find_all("p")[3].text,"Number of reviews": end_vals[13],
                "Price (excl. tax)": end_vals[5],"Price (incl. tax)": end_vals[7],"Product Type": end_vals[3],"Rating": data.find_all("p")[2].attrs.get("class")[1],
                "Tax": end_vals[9],"Title": data.find("li", attrs={"class": "active"}).text,"UPC": end_vals[1]}
        return dict
    return None


def scrape_books(k, categories):
    """
    :param k: number of book-listing pages to scrape.
    :returns: a dataframe of information on (certain) books
    on the k pages (as described in the question).

    :Example:
    >>> out = scrape_books(1, ['Mystery'])
    >>> out.shape
    (1, 11)
    >>> out['Rating'][0] == 'Four'
    True
    >>> out['Title'][0] == 'Sharp Objects'
    True
    """
    df = pd.DataFrame()
    for page in np.arange(1, k + 1):
        books = extract_book_links(requests.get("http://books.toscrape.com/catalogue/page-%d.html" % page).text)
        for book in books:
            book_info = get_product_info(requests.get("http://books.toscrape.com/catalogue/" + book).text, categories)
            if book_info != None:
                df = df.append(book_info, ignore_index=True)
    return df

In [346]:
out = scrape_books(1, ['Mystery'])

In [347]:
out

,Availability,Category,Description,Number of reviews,Price (excl. tax),Price (incl. tax),Product Type,Rating,Tax,Title,UPC
0,In stock (20 available),Mystery,"WICKED above her hipbone, GIRL across her hear...",0,Â£47.82,Â£47.82,Books,Four,Â£0.00,Sharp Objects,e00eb4fd7b871a48

In [320]:
fp = os.path.join('data', 'Frankenstein.html')
out = get_product_info(open(fp, encoding='utf-8').read(), ['Default'])
out

{'Availability': 'In stock (1 available)',
 'Category': 'Default',
 'Description': "Mary Shelley began writing Frankenstein when she was only eighteen. At once a Gothic thriller, a passionate romance, and a cautionary tale about the dangers of science, Frankenstein tells the story of committed science student Victor Frankenstein. Obsessed with discovering the cause of generation and life and bestowing animation upon lifeless matter, Frankenstein assembles Mary Shelley began writing Frankenstein when she was only eighteen. At once a Gothic thriller, a passionate romance, and a cautionary tale about the dangers of science, Frankenstein tells the story of committed science student Victor Frankenstein. Obsessed with discovering the cause of generation and life and bestowing animation upon lifeless matter, Frankenstein assembles a human being from stolen body parts but; upon bringing it to life, he recoils in horror at the creature's hideousness. Tormented by isolation and loneliness, the once-innocent creature turns to evil and unleashes a campaign of murderous revenge against his creator, Frankenstein.Frankenstein, an instant bestseller and an important ancestor of both the horror and science fiction genres, not only tells a terrifying story, but also raises profound, disturbing questions about the very nature of life and the place of humankind within the cosmos: What does it mean to be human? What responsibilities do we have to each other? How far can we go in tampering with Nature? In our age, filled with news of organ donation genetic engineering, and bio-terrorism, these questions are more relevant than ever. ...more",
 'Number of reviews': '0',
 'Price (excl. tax)': '£38.00',
 'Price (incl. tax)': '£38.00',
 'Product Type': 'Books',
 'Rating': 'Two',
 'Tax': '£0.00',
 'Title': 'Frankenstein',
 'UPC': 'a492f49a3e2b6a71'}

In [338]:
fp = os.path.join('data', 'products.html')
out = extract_book_links(open(fp, encoding='utf-8').read())
out

30.6
14.57
21.57
12.91
41.67
19.07

['seven-brief-lessons-on-physics_219/index.html',
 'scarlet-the-lunar-chronicles-2_218/index.html',
 'saga-volume-3-saga-collected-editions-3_216/index.html',
 'running-with-scissors_215/index.html',
 'rise-of-the-rocket-girls-the-women-who-propelled-us-from-missiles-to-the-moon-to-mars_213/index.html',
 'ready-player-one_209/index.html']

# API Requests
**Question 3**

You trade stocks as a hobby. As an avid pandas coder, you figured it is best to calculate some statistics by pulling data from a public API (https://financialmodelingprep.com/developer/docs/#Stock-Historical-Price). Specifically, "Historical price with change and volume interval".

Some definitions (these are the ones you need to know):
- open: The opening price of a stock at the beginning of a trading day
- close: The closing price of a stock at the end of a trading day
- volume: The total number of shares being traded in a day
- percent change: difference in price with respect to the original price (in percentages)


1. Create a function `stock_history` which takes in the stock code (`ticker`) as a string, `year` and `month` as integers, and return a dataframe which has the price history for that stock in that month (include all columns).

2. Create a function `stock_stats` that takes in the output dataframe from `stock_history` and output the stock price change as a percentage and a rough total transaction volume **in billion dollars** for that month. Assume that on average, shares are traded at the midpoint price of high and low for that day. Return these two values as a tuple in a readable format: reserve 2 decimal points for both values and add a plus or minus sign at the front of the percent change. 
$$ \text{Total Transaction Volume (in dollars)} = \text{Volume (number of shares traded)} \times \text{Price} $$

*Example*: If \\$BYND opens at \\$80 and closes at \\$120 with a volume of 1 million, its percent change for the day is $(\$120-\$80) \div \$80 = +50.00\%$. And the estimated total transaction volume is: $(\$80+\$120) / 2 \times 10^6 = 0.10\text{B}$.


Hint: [pd.date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html), 

*Note:* Make sure you read the API documentation if you get stuck!

*Note 2:* In order to make successful requests, you will need an API key. In order to get one, you will need to sign up to the website. Once signed up, you can use the API key that comes with the free plan. It has a limit of 250 requests per day, which should be more than enough. In the code below, replace `your_key` when making requests.

In [73]:
import requests

In [191]:
stock_endpoint = 'https://financialmodelingprep.com/api/v3/historical-price-full/{}?apikey=298a6bfcbbf37a8725002f1da9404cb9'

In [252]:
def stock_history(ticker, year, month):
    """
    Given a stock code and month, return the stock price details for that month
    as a dataframe

    >>> history = stock_history('BYND', 2019, 6)
    >>> history.shape == (20, 13)
    True
    >>> history.label.iloc[-1]
    'June 03, 19'
    """
    stock_endpoint = 'https://financialmodelingprep.com/api/v3/historical-price-full/{}?apikey=298a6bfcbbf37a8725002f1da9404cb9'
    start_date = datetime.datetime(year,month,1)
    if month == 12:
        end_date = datetime.datetime(year + 1,1,1)
    else:
        end_date = datetime.datetime(year,month + 1,1)
    date = pd.date_range(start = start_date, end = end_date)
    data = requests.get(stock_endpoint.format(ticker)).json()['historical']
    df = pd.DataFrame.from_dict(data)
    params={'from': date[0].strftime('%Y-%m-%d'), 'to': date[-1].strftime('%Y-%m-%d')}
    out = df[(df['date'] >= params['from']) & (df['date'] < params['to'])]
    return out


def stock_stats(history):
    #rows daily stock prices
    #columns: price at open, price at close, high, low, volume
    #price change as percentage between open of first day and last day of month
    #for every row find mean price which is avg of high and low and multiply by volume to get series of values and sum them to get total volume
    """
    Given a stock's trade history, return the percent change and transactions
    in billion dollars.

    >>> history = stock_history('BYND', 2019, 6)
    >>> stats = stock_stats(history)
    >>> len(stats[0]), len(stats[1])
    (7, 6)
    >>> float(stats[0][1:-1]) > 30
    True
    >>> float(stats[1][:-1]) > 1
    True
    """
    def tot_tran_vol(row):
        return (row['high']+row['low']) / (2*row['volume'])
    total = str(history.apply(tot_tran_vol, axis = 1).sum()) + 'B'
    close = history.iloc[0]['close']
    ope = history.iloc[-1]['open']
    percent_change =  round(((close - ope) / ope) *100, 2) 
    if percent_change >= 0:
        percent_change = '+'+str(percent_change)+'%'
    else:
        percent_change = '-'+str(percent_change)+'%'
    return tuple([percent_change, total])

In [253]:
#AAPL?from=2018-03-12&to=2019-03-12
history = stock_history('BYND', 2019, 6)
stats = stock_stats(history)
stats

('+54.29%', '0.0003269102788063705B')

In [251]:
history

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
349,2019-06-28,165.30,168.80,159.550,160.68,160.68,7315300.0,7315300.0,-4.62,-2.795,163.01000,"June 28, 19",-0.02795
350,2019-06-27,157.31,164.79,155.450,162.91,162.91,5731400.0,5731400.0,5.60,3.560,161.05000,"June 27, 19",0.03560
351,2019-06-26,160.10,162.25,153.020,160.48,160.48,6378600.0,6378600.0,0.38,0.237,158.58333,"June 26, 19",0.00237
352,2019-06-25,138.50,150.69,138.343,150.60,150.60,6632500.0,6632500.0,12.10,8.736,146.54433,"June 25, 19",0.08736
353,2019-06-24,151.88,152.70,138.000,140.99,140.99,6538500.0,6538500.0,-10.89,-7.170,143.89667,"June 24, 19",-0.07170
354,2019-06-21,153.54,161.79,150.000,154.13,154.13,7474600.0,7474600.0,0.59,0.384,155.30667,"June 21, 19",0.00384
355,2019-06-20,173.00,174.00,163.300,165.17,165.17,6660500.0,6660500.0,-7.83,-4.526,167.49000,"June 20, 19",-0.04526
356,2019-06-19,171.37,174.45,162.250,169.28,169.28,9452000.0,9452000.0,-2.09,-1.220,168.66000,"June 19, 19",-0.01220
357,2019-06-18,200.00,201.88,160.700,169.89,169.89,23966900.0,23966900.0,-30.11,-15.055,177.49000,"June 18, 19",-0.15055
358,2019-06-17,163.18,171.19,160.611,169.96,169.96,14626700.0,14626700.0,6.78,4.155,167.25367,"June 17, 19",0.04155
359,2019-06-14,142.01,157.90,141.800,151.48,151.48,14964600.0,14964600.0,9.47,6.669,150.39333,"June 14, 19",0.06669
360,2019-06-13,141.52,146.45,134.250,141.39,141.39,9474600.0,9474600.0,-0.13,-0.092,140.69667,"June 13, 19",-0.00092
361,2019-06-12,133.99,150.45,131.563,141.97,141.97,16879500.0,16879500.0,7.98,5.956,141.32767,"June 12, 19",0.05956
362,2019-06-11,145.25,150.00,125.230,126.04,126.04,15516000.0,15516000.0,-19.21,-13.225,133.75667,"June 11, 19",-0.13225
363,2019-06-10,155.70,186.43,147.000,168.10,168.10,24986000.0,24986000.0,12.40,7.964,167.17667,"June 10, 19",0.07964
364,2019-06-07,130.00,149.46,120.760,138.65,138.65,23916700.0,23916700.0,8.65,6.654,136.29000,"June 07, 19",0.06654
365,2019-06-06,102.00,102.25,98.850,99.50,99.50,6484000.0,6484000.0,-2.50,-2.451,100.20000,"June 06, 19",-0.02451
366,2019-06-05,105.50,105.50,99.640,102.60,102.60,4283500.0,4283500.0,-2.90,-2.749,102.58000,"June 05, 19",-0.02749
367,2019-06-04,101.25,103.50,97.820,103.41,103.41,5484900.0,5484900.0,2.16,2.133,101.57667,"June 04, 19",0.02133
368,2019-06-03,104.14,108.67,95.662,96.16,96.16,8027700.0,8027700.0,-7.98,-7.663,100.16400,"June 03, 19",-0.07663

In [152]:
date = datetime.datetime(2000,12,1)
date

TypeError: 'months' is an invalid keyword argument for __new__()

In [151]:
import datetime
from datetime import timedelta

# Comment Threads

**Question 4**

As a hacker, you get your daily dose of tech news on [Hacker News](https://news.ycombinator.com/). The problem now is that you don't have internet access on your phone in your morning commute to work, so you want to save the interesting stories' comments thread beforehand in a flat file source like csv. You find their API documentation ( https://github.com/HackerNews/API) and implement the following task:

1. Write a function `get_comments` that takes `storyid` as a parameter and returns a dataframe of all the comments below the news story. You can ignore 'dead' comments (you will know it when you see it). **Make sure the order of the comments in your dataframe is from top to bottom just as you see on the website**. You are allowed to use loops in this function. Addtional requirement: write at least one helper method

You only want these information for the comments:
1. `id`: the unique ids
2. `by`: the author of the comment
3. `parent`: who (also in unique ids) they are replying to
4. `text`: the actual comment
5. `time`: when the comment is created (in `pd.datetime` format)

Hints:
1. Use depth-first-search when traversing the comments tree.
2. https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks.
3. Check the size of your dataframe to the story's `descendants` attribute (number of comments).

In [254]:
news_endpoint = "https://hacker-news.firebaseio.com/v0/item/{}.json"

In [258]:
stack = []
stack.pop()
stack

IndexError: pop from empty list

In [332]:
def get_comments(storyid):
    #use stack to add in kids(import)
    #add all kids to stack
    #pop stack request info and add to dictionary
    #add all their kids
    #if no kids key then move past
    #dead key in dict if there do not add to dictionary 
    """
    Returns a dataframe of all the comments below a news story
    >>> out = get_comments(18344932)
    >>> out.shape
    (18, 5)
    >>> out.loc[5, 'by']
    'RobAtticus'
    >>> out.loc[5, 'time'].day
    31
    """
    news_endpoint = "https://hacker-news.firebaseio.com/v0/item/{}.json"
    stack = [storyid]
    in_data = requests.get(news_endpoint.format(stack.pop())).json()
    if 'kids' in in_data.keys():
            for kid in in_data['kids']:
                stack.append(kid)
    all_data =[]
    while len(stack) > 0:
        in_data = requests.get(news_endpoint.format(stack.pop())).json()
        if 'dead' in in_data.keys():
            continue
        all_data.append(in_data)
        if 'kids' in in_data.keys():
            for kid in in_data['kids']:
                stack.append(kid)
    df = pd.DataFrame(all_data)[['id','by','parent','text','time']]
    def convert_time(time):
        return pd.to_datetime(time)
    df['time'] = df['time'].apply(convert_time)
    return df

In [333]:
out = get_comments(18344932)
out

,id,by,parent,text,time
0,18346746,athenot,18344932,It would be nice if they did a quick compariso...,1970-01-01 00:00:01.541001073
1,18346787,RobAtticus,18346746,"We do have comparisons, but judging by their M...",1970-01-01 00:00:01.541001399
2,18346822,athenot,18346787,"Thanks a lot, this is useful for comparing.<p>...",1970-01-01 00:00:01.541001629
3,18346476,dominotw,18344932,I evaluated this heavily but had to backoff be...,1970-01-01 00:00:01.540999649
4,18349689,jason_slack,18346476,What were the specs of the machine you were us...,1970-01-01 00:00:01.541024187
5,18346702,RobAtticus,18346476,"Sorry to hear, though I&#x27;d like to mention...",1970-01-01 00:00:01.541000861
6,18347232,grumpydba,18346702,"Hi,<p>are the upcoming clustering efforts deve...",1970-01-01 00:00:01.541004279
7,18346750,zip1234,18344932,How fast is it when it has a TB of data? I rea...,1970-01-01 00:00:01.541001103
8,18347555,dominotw,18346750,They have some numbers on their blog. Its very...,1970-01-01 00:00:01.541006374
9,18347260,nevi-me,18346750,I spent about 8 months writing data to TSDB. I...,1970-01-01 00:00:01.541004454
10,18348601,sman393,18344932,Can this be used side by side on normal Postgr...,1970-01-01 00:00:01.541014179
11,18348631,RobAtticus,18348601,"Yep, absolutely. Regular PostgreSQL tables coe...",1970-01-01 00:00:01.541014492
12,18348984,sman393,18348631,Good to hear! how does the current TimescaleDB...,1970-01-01 00:00:01.541017426
13,18349540,RobAtticus,18348984,Not sure I follow exactly what you&#x27;re ask...,1970-01-01 00:00:01.541022440
14,18350673,sman393,18349540,Alright thanks! I thought I read that Timescal...,1970-01-01 00:00:01.541034719
15,18351061,RobAtticus,18350673,It does not support sharding writes across mul...,1970-01-01 00:00:01.541039703
16,18346406,msiggy,18344932,I&#x27;m excited to give this database a try i...,1970-01-01 00:00:01.540999222
17,18380397,valyala,18344932,TimescaleDB is great for storing time series c...,1970-01-01 00:00:01.541400799

In [328]:
out.loc[5, 'time'].day

1

In [350]:
start = requests.get(news_endpoint.format(18344932)).json()
start

{'by': 'ScottWRobinson',
 'descendants': 18,
 'id': 18344932,
 'kids': [18380397,
  18346406,
  18348601,
  18346750,
  18346476,
  18346746,
  18346388],
 'score': 47,
 'time': 1540987334,
 'title': 'TimescaleDB 1.0 Is Production Ready',
 'type': 'story',
 'url': 'https://blog.timescale.com/1-0-enterprise-production-ready-time-series-database-open-source-d32395a10cbf'}

In [356]:
time = requests.get(news_endpoint.format(start['kids'][0])).json()['time']
time

1541400799

In [104]:
print(data.status_code)

200

## Congratulations! You're done!

* Submit the lab on Gradescope